[2020-06-23 21:02] beeankha opened #11 "Update README w/ General Information"
Before getting too "in the weeds" with documentation, let's fill out some basic info in the README file (description of the project, maintainer list).

[2020-06-23 21:04] beeankha opened #12 "New "Build" Command Needed in CLI"
We need a new `build` command in the CLI, which will use the `-f`, `-b` and `-c` flags/arguments.

[2020-06-24 19:18] beeankha opened #15 "YAML Exception"
Catch a YAML exception and warn that the `execution-environment.yml` is not a valid yaml file, when appropriate (in the `ansible_builder/main.py` file).

[2020-06-24 21:15] beeankha commented on #12
Some more notes:
- [x] ONLY for the `build` command, we need a `-t` `--tag` flag (this names the container)
- [x] After `create` gets called, there should be a path for the build context
- [x] The `build` command needs to call `docker build -f Containerfile .`
- [x] Need a  `--container-runtime` flag in order to specify either Docker or Podman builds (defaulting to Podman)
- [x] Implement a unit t

[2020-06-24 21:17] #11 closed, assigned to nobody

[2020-06-25 18:21] AlanCoding opened #17 "Clean error messages for missing files"
If the data inside of the EE spec doesn't exist, it falls back to traceback.

[code]

where

[code]

and the file `adjusted_requirements.yml` does not exist.

[2020-06-25 18:42] AlanCoding opened #18 "Files referenced in -f option should be relative to the file, not cwd"
consider:

[code]

now if I run this command from the same directory (meaning `alan_ee.yml` is nested in the "alan" directory)

[code]

it fails. But it runs in the other directory.

[code]

The tool should not behave differently depending on where you run it from, because that would kill portability of the ansible-builder project folders.

[2020-06-25 19:58] beeankha commented on #12
- [x] A visual "spinner" and/or stdout print in real-time would be nice while container is being built, etc.

Better Documentation:
- [x] Need to have a paragraph come up when running `ansible-builder -h` that explains what Builder is/does
- [x] Need to update the docstrings for the `create` and `build` commands to be more specific/helpful for the user

[2020-06-25 20:41] AlanCoding opened #20 "Figure out how to handle existing build context folder"
Right now, if a folder already exists at the location for `-c`, the context, it will merge new files with whatever is in there.

This is probably undesirable, because any files that are not created anew are will almost certainly not going to be used, and that goes against [best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/)

So if the build context already ex

[2020-06-25 20:44] AlanCoding commented on #18
Priority Triage:

This does not _completely block_ someone from being able to use the CLI. However, it significantly impacts usability.

[2020-06-25 21:09] AlanCoding opened #21 "Process direct requirements and additional build steps from the user's spec"
Example `execution-environment.yml`:

(EDIT: direct listing of system dependencies not supported after all)

[code]

This tool should output a Container file with:

 - `pip` install for requirements
 - `dnf`? install for system requirement
 - additional lines for whatever is given in the additional specs

Schema of EE spec is subject to change, but for now we want to just get something in.

Note t

[2020-06-25 21:12] AlanCoding opened #22 "Process collection python requirements metadata"
Example `execution-environment.yml`

[code]

where the file `scm_metadata.yml` contains:

[code]

Just to link it, this references the tree https://github.com/AlanCoding/azure/tree/ee which importantly contains:

https://github.com/AlanCoding/azure/blob/ee/meta/execution-environment.yml

[code]

Building that should produce an image with those python requirements, which should run `azure.azcollect

[2020-06-26 13:42] pabelanger commented on #22
For metadata, at first glance could we not use the top level requirement.txt files that python projects use? Either by default or some way to reference an external file?  This would avoid the need to cut down on managing 2 places for dependencies. For example, https://github.com/ansible-collections/ansible.netcommon/blob/master/requirements.txt

Additional, for system packages, we'd been using bin

[2020-06-26 14:04] shanemcd commented on #22
@pabelanger +1 to your idea of just using a requirements file. I had this as a hand-wavy example of what the execution environment definition side might look like:

[code]

I hadn't considered bindep for usage here, but I will spend some time familiarizing myself with it to have an informed opinion. Thanks for all the feedback.

[2020-06-26 14:04] AlanCoding opened #24 "Test compatibility with ansible-runner"
The PR https://github.com/ansible/ansible-runner/pull/470 is required.

Images produced by `ansible-builder` should be passed to `ansible-runner`. After that, playbooks should run.

[2020-06-26 14:09] AlanCoding commented on #22
In the [sniffer script](https://github.com/AlanCoding/collection-dependencies-demo/tree/master/sniff_req) I was using I was looking at `requirements.txt`, and that's where many of those come from. In practice, I can see how it's almost never going to list in the metadata itself, unless things get complicated. Ideally, the collection-level `execution-environment.yml` will follow the exact same synt

[2020-06-26 14:22] pabelanger commented on #22
In openstack, we have almost the same idea. The ability to take any python project and create a docker container from it. The goal, was to try and keep each project dockerfile small, while parenting to a common base.  Almost creating an API for other Dockerfile to use.

https://opendev.org/opendev/system-config/src/branch/master/docker/python-builder/scripts/install-from-bindep

is an example for

[2020-06-26 14:29] shanemcd commented on #22
@pabelanger Do you know if bindep is available for usage downstream anywhere? I just checked dist-git and I'm not seeing it there anywhere.

[2020-06-26 14:34] pabelanger commented on #22
I'd have to look, we likely could work with rdoproject to package it if missing.

[2020-06-26 16:00] AlanCoding commented on #22
Will be naming branches `ee_req` for those that defer to a requirements file. Here is one:

https://github.com/ansible-collections/azure/compare/dev...AlanCoding:ee_req?expand=1

I anticipate this to be used in the proof-of-concept. In this example, I don't think we miss anything this way.

[2020-06-29 13:59] kdelee commented on #24
@AlanCoding what do you think about where that should run? We could run two checks in parallel, one that pip installs ansible-runner from pypi and the other that pip installs it from the devel branch.

Since this is a public repo it would be cool to leverage the github actions.

[2020-06-29 14:11] AlanCoding opened #25 "Ability to produce future-proof Containerfile"
A couple of scenarios of concern:

 - An execution environment spec with un-versioned collection requirement: someone builds a Containerfile with `requirements.txt` inside of its build context. Collection releases new version with new or removed python dependencies, and new images built with Containerfile will now fail to run content
 - An execution environment spec with versioned collection: a de

[2020-06-29 15:02] AlanCoding commented on #24
Both of these projects are set up with Zuul, and someone may want the "Depends-On" syntax to run CI with two branches simultaneously. The question of "where should it run?" strikes me as complicated, and I want to delay that question.

Right now, I want to focus on building out code simultaneously with a pipeline which I can run locally, and productively touches back to documentation and the examp

[2020-06-29 18:14] AlanCoding commented on #24
Test fodder for ^ that scenario

https://github.com/ansible/awx/pull/7474

[2020-06-29 19:52] kdelee opened #26 "execution_environments.yml missing "dependencies" section makes ansible-builder build throw traceback"
should fail and tell me nicely that my execution_environment.yml is missing the "dependencies" section

[2020-06-29 19:53] kdelee commented on #26
@shanemcd ran into this while demoing current state of things
@beeankha may be of interest

[2020-06-30 23:21] AlanCoding commented on #18
addressed

[2020-06-30 23:21] #18 closed, assigned to nobody

[2020-06-30 23:33] AlanCoding commented on #26
The tests make heavy use of empty specs.

https://github.com/ansible/ansible-builder/blob/31d565303b3e29de835340e75e486467eb467320/test/test_main.py#L53

It makes a Containerfile with just the base image right? I feel like it's too early to be mucking with this.

However, it occurred to me that we should warn if the user provides keys that _are not_ used, because that's more likely to be a valid c

[2020-07-01 02:34] AlanCoding commented on #17
I was thinking that the method expressed here:

https://stackoverflow.com/a/11541450/1092940

would be good as a means to share the logic between the check for files in the schema as well as CLI parameters which are files and/or directories.

[2020-07-01 16:36] kdelee opened #32 "Output from `build` command needs more info"
ansible-buidler build seems to do something for a while but then it says Complete! Build context is at: context but this is ????? does not tell me what the image is named/tagged or how to actually find it.

I am learning that the default tag name and container runtime are defined here https://github.com/ansible/ansible-builder/blob/ec481d8c8a8dd995614aa1f46baccad4e2253715/ansible_builder/constants

[2020-07-01 19:14] beeankha commented on #32
@kdelee agreed, and it's is one of the to-dos listed here: https://github.com/ansible/ansible-builder/issues/12#issuecomment-649786963

[2020-07-02 12:43] kdelee commented on #26
this is what I'm showing: if you touch an empty file `execution-environment.yml` you can reproduce

Guess its doing a raw `get` on the `galaxy` subdict of `dependencies`

[code]

[2020-07-02 12:47] kdelee commented on #25
TBH I kinda thought this was way it was going to go down but I do see point of then Containerfile is not very portable, has to go w/ whole context dir.

[2020-07-02 12:57] kdelee opened #33 "Support python installs in venv"
We discussed the possibility that collections will use python dependencies that conflict with the base image's system dependencies. This is one reason why python venvs are used, so users may want to have their python dependencies.

Granted it would then be on the user to properly set `ansible_python_interpreter` in their vars.

Not saying this is top priority but may eventually be a nice feature t

[2020-07-02 13:32] AlanCoding commented on #25
Yes, but I worry that it over-simplifies the problem.

The initial implementation I'm working on is likely to knowingly violate the idea here, just to have a work-in-progress that we can make some testing progress with.

If we use ADD to solve these, then it makes more sense to package the collection `tar.gz` files in the build context, as opposed to the fully installed file structure of the colle

[2020-07-06 18:17] kdelee commented on #32
https://github.com/ansible/ansible-builder/pull/35 merged and now output should show from underlying commands

[2020-07-06 18:57] beeankha commented on #12
- [ ] Allow user to set a custom verbosity level
- [ ] Implement `mock` into more tests

[2020-07-07 16:13] AlanCoding opened #36 "Replace tmpdir install of collections with a container image layer"
Assuming https://github.com/ansible/ansible-builder/pull/34 is merged...

Installing collections to a temporary directory on the host machine will be the status quo.

To talk in blunter terms, I'm using a Mac. When I run `ansible-builder create`, the tool runs `ansible-galaxy collection install` in a subprocess and installs collections to a temporary directory on my mac. It then crawls those folde

[2020-07-07 21:33] AlanCoding commented on #24
https://github.com/ansible/ansible-builder/tree/devel/examples now fits the bill to some extent

I've talked over some TODO items with @shanemcd and through my own debugging:

 - test 2 collections in same example
 - test user's python requirement combined with collection
 - [needs devel] test EE definition that does some version of `dnf install git`, or look into other example
 - test relative py

[2020-07-07 21:36] AlanCoding opened #37 "Test compatibility with ansible-test"
I've collected an example with `community.aws`

[code]

(was resolved locally with `pip install rstcheck`)

This was after installing and running `ansible-test sanity`. The CLI `ansible-test` allows running inside of docker. We should produce an EE for `community.aws`, feed it into `ansible-test`, and verify that it does not fail on missing `rstcheck`.

[2020-07-08 15:10] beeankha opened #41 "Implement Custom Verbosity Level"
Allow user to set a custom verbosity level using `-v` or `--verbosity` when running builder CLI commands.

This work should get done _after_ a lot of the other `ansible-builder` issues have been completed, since we want to know exactly _what_ to be verbose about.

[2020-07-08 15:59] kdelee opened #42 "supress warning about tmp build dir not being in collections path on build host"
In the output of `ansible-builder build` I see:

[code]

Because ` /tmp/ansible_builder_jn54s8dn` is not on my local machine's ansible collection path, but that is normal -- it is not meant for execution on my local machine, rather it is going to get placed in the collections path inside the container.

This warning is a bit confusing so would be good to supress it. I bet there is an env var we ca

[2020-07-09 02:24] AlanCoding commented on #37
For whatever reason, I'm not able to replicate this with the default Ansible container image for test

https://github.com/ansible/default-test-container

[2020-07-09 17:54] beeankha commented on #26
PR https://github.com/ansible/ansible-builder/pull/38 has a fix for this issue included, and it has been merged!

[2020-07-09 18:03] #36 closed, assigned to nobody

[2020-07-10 03:45] AlanCoding opened #45 "Scrub the python requirement files for duplicate and unnecessary requirements"
Installing the "awx" case in the examples right now will give this error:

[code]

All `ansible` entries can be safely removed from this command, and the same goes for a number of common test libraries.

Any duplicate entires can be safely removed if it is confirmed that the version range does not conflict.

However, reading the requirements file in the first place is a larger challenge. Some impl

[2020-07-13 12:25] AlanCoding opened #47 "Agree on solution for community.kubernetes.helm and kubectl"
In https://github.com/ansible/ansible-builder/issues/22 we discussed how we may use `bindep` to process system dependencies, and how this will resolve into a set of `dnf` installs.

Importantly, this would have allowed for a consistent set of requirements, consistently using the system package manager.

We have identified our first notable exception.

https://github.com/ansible-collections/communi

[2020-07-14 11:17] AlanCoding commented on #37
so, rstcheck is only a test utility, and it's been established that ansible-test does _not_ validate presence of dependencies.

[2020-07-14 11:17] #37 closed, assigned to nobody

[2020-07-22 17:16] kdelee commented on #32
Tested locally and I am seeing the additional informaiton from underlying commands streaming through, thanks!

[2020-07-22 17:16] #32 closed, assigned to beeankha, kdelee

[2020-07-23 19:40] AlanCoding opened #49 "Systematically test that collection imports work"
We need integration testing for this obviously, and we don't yet have a framework for that.

Throwing an idea out into the possibilities:

Introduce custom module which will attempt to import a variable or module, given in parameters.

Do the relatively simple task of cataloging the `HAS_*` variables in each collection, ex:

[code]

[code]

You can see that some of these may be easier than others.

[2020-07-24 01:44] AlanCoding opened #50 "Process system requirements"
for my own notes, from this comment:

https://github.com/ansible/ansible-builder/issues/22#issuecomment-650206193

https://opendev.org/opendev/system-config/src/branch/master/docker/python-builder/scripts/assemble

the critical syntax looks like:

[code]

(we may or may not use the intermediary file)

In my testing, the `-q` option (for quiet) is also needed, and very important, a newline is neede

[2020-07-24 03:10] AlanCoding opened #51 "ansible-builder exits with exit code 0 when build command failed"
Say that I give `bindep -q ...` in a RUN command.

This is incorrect syntax, but the tool continues as if everything went fine.

[code]

If the build command gives a non-zero exit code, the tool should bail right then.

[2020-07-27 18:52] #17 closed, assigned to nobody

[2020-07-27 18:52] #20 closed, assigned to nobody

[2020-07-29 18:47] kdelee opened #56 "Establish pattern for running integration tests by invoking script that outputs xml test result"
We want to be able to execute integration tests from the testing pipeline/provider of our choice.

To make our integration tests easy to execute from whatever location, and consume the results, have both the test setup and test execution wrapped in a bash script that after the test run, leaves a junit style xml file as output.

Suggested implementation:

1) create a folder for integration tests th

[2020-07-29 18:47] kdelee commented on #56
@beeankha this is what we talked about

[2020-07-30 14:15] AlanCoding commented on #50
This is implemented for a user's file, but not yet for collecting bindep files from collections themselves.

[2020-07-30 14:15] AlanCoding commented on #50
Also need to update the `README.md`

[2020-07-30 14:18] AlanCoding commented on #42
Example of the current command:

[code]

This is only ran once, and it doesn't produce the error because `/usr/share/ansible/collections` is, by default, one of the collection paths.

We used to install collections separately to a `/tmp` folder, but @shanemcd developed a more elegant solution for that, and this practice was removed.

Closing now, because that refactor eliminated this.

[2020-07-30 14:18] #42 closed, assigned to nobody

[2020-07-30 14:22] AlanCoding commented on #12
Can we combine or close some of these, and just say "document and test the basic feature set"? @kdelee

[2020-07-30 17:28] AlanCoding commented on #51
note: it should not be `-q` but `-b`

[code]

[2020-07-30 18:58] #45 closed, assigned to nobody

[2020-07-30 19:07] AlanCoding commented on #24
Closing after feedback from @kdelee in https://github.com/ansible/ansible-builder/issues/56

[2020-07-30 19:07] #24 closed, assigned to AlanCoding, kdelee

[2020-08-03 20:43] kdelee commented on #51
not seeing this `run.sh`

[2020-08-03 20:46] kdelee commented on #26
works for me,

[code]

we can work on adding coverage for this in the integration tests later

[2020-08-03 20:46] #26 closed, assigned to nobody

[2020-08-03 20:48] kdelee commented on #51
This is working as I expect, this would be good test case for integration tests:

How I tested:

execution-environment.yml
[code]
results:
[code]

Thanks! lets figure out how to stub out the test cases we want

[2020-08-03 20:48] #51 closed, assigned to beeankha

[2020-08-03 21:09] kdelee commented on #22
Tried this out given the azure example:

[code]

[code]

then I did `ansible-builder build` in that directory, build completed and ran container and found indeed python deps were installed correctly.

Let's get this in an integration test case when we decide where those are going to be

[2020-08-03 21:09] #22 closed, assigned to kdelee

[2020-08-03 21:28] kdelee commented on #21
@AlanCoding example given in issue has a couple problems:

1) https://github.com/ansible/ansible-builder/issues/50 is not done, including the list of system dependencies causes a traceback, but will delay looking at that until the issue is closed
2) looks like code can't handle the multiline string you are using in your example, it wants a `prepend` and/or `append` section

[code]

[code]

looks l

[2020-08-03 21:37] kdelee commented on #21
now testing w/ proper syntax, and its working for me:
[code]
building the image and then inspecting the environment shows my environment variable was set.

This is another case for our basic integration tests for when we get those added to the repo

[2020-08-03 21:37] #21 closed, assigned to AlanCoding

[2020-08-03 21:43] kdelee commented on #12
I've tried out these commands and I think we can close this and yes, we need to write up a set of basic test cases we want to implement but that does not have to block closing this issue.

[2020-08-03 21:43] #12 closed, assigned to beeankha

[2020-08-04 13:25] AlanCoding commented on #21
Sorry about the example, it has been a moving target. The syntax has evolved over time. You can still do:

[code]

And the last piece of #50 is integrating `bindep.txt` from collections into the mix, which is the current item I'm trying to get cleared up and finished. If you do it this way, the `bindep.txt` file next to your `execution-environment.yml` file can list git as an rpm type dependency.

[2020-08-04 14:06] AlanCoding commented on #50
Updating and documenting this issue...

We merged #52 which addressed this for user-specified bindep file, meaning the `execution-environment.yml` file had an entry `system: bindep.txt` in it. The WIP #59 addresses it for collections. Here is where I'm at with that, the flow loosely reflects the order in which my own thought process shaped up.

The aggressive proposal is most similar to how the si

[2020-08-04 14:10] AlanCoding opened #62 "Add comments to combined requirements file, denoting what collections require each"
Here's an example of a combined set of python requirements:

[code]

The python dependencies will get written to the `requirements.txt` file inside of the build context folder.

In this case, 2 collections at the target location list `pyvcloud` (simply as a test case). The two different version ranges come from the two different collections.

It would obviously be nice for the user if we could add

[2020-08-04 14:14] AlanCoding opened #63 "Catch errors from parsing collection python requirements"
Example:

[code]

The root cause of this traceback is that a collection has a `requirements.txt` file which is not formatted correctly. We should never error with a traceback like this, this also doesn't give any actionable information (not clear _which_ collection had the bad requirements).

This may be subject to discussion, but my proposal would be:

 - do not halt execution in this case, but i

[2020-08-06 03:09] AlanCoding opened #67 "File upstream collection pull requests"
This is really just a place to collect links

https://github.com/ansible/ansible-builder/pull/44/files#diff-836eec5ffe9ae50553c6e473eec31adf

 - [x] awx.awx https://github.com/ansible/awx/pull/7477
 - [x] azure.azcollection https://github.com/ansible-collections/azure/pull/220
 - [x] amazon.aws https://github.com/ansible-collections/amazon.aws/pull/125
 - [x] theforeman.foreman
 - [x] openstack.cl

[2020-08-06 14:10] shanemcd opened #69 "Build caching regression"
Subsequent runs of `ansible-builder` should be near-instant when inputs dont change. I believed this regressed in https://github.com/ansible/ansible-builder/pull/57. Since we're always re-writing `context/requirements.txt`, this causes the pip install steps to always be run, even when the contents of `requirements.txt` doesn't change.

[2020-08-10 14:40] AlanCoding commented on #56
@kdelee is this already running and producing the junit output? We need to build out test cases, but that's not the same issue as this.

[2020-08-10 16:59] beeankha commented on #15
Investigating this, I saw that this work has already been done in the `UserDefinition` class from `main.py` via:

[code]

I'll update the README to let users know that the definition file should be a YAML file (the example shows that it is, but it's not actually stated explicitly anywhere).  Closing this issue!

[2020-08-10 16:59] #15 closed, assigned to nobody

[2020-08-11 02:56] AlanCoding commented on #69
It looks like I'm not able to reproduce this, I put up test at #73. Do you think that using podman vs. docker will make a difference?

[2020-08-11 14:57] AlanCoding commented on #69
After I got some better test information, it turns out this _is_ happening specific to podman.

[2020-08-13 01:54] AlanCoding commented on #69
Link https://github.com/containers/buildah/pull/2539

The specific problem here might be resolved with #73, but I wouldn't trust that until we change to a different base image and have another round going at the testing.

[2020-08-13 02:00] AlanCoding opened #74 "Reduce image size by removing dnf/pip cache"
Argument is made here https://www.redhat.com/sysadmin/tiny-containers that `dnf` steps would more ideally be done with cache cleanup in the same command:

[code]

We do a dnf install:

https://github.com/ansible/ansible-builder/blob/d1995bca4afb0c8a8433dc936cb4ba0460018c4b/ansible_builder/steps.py#L81

We could just add this syntax to our command. Presumably we should check image sizes before / af

[2020-08-14 18:59] AlanCoding opened #78 "Failure in YAML parsing when using podman aliased as docker"
do a `dnf` install of docker, and you don't actually get docker, you get a wrapper around podman. This actually works just fine, except for a tiny detail in the implementation of ansible-builder:

[code]

The problem is that the `docker` CLI issues a warning, and that warning pollutes the stdout of commands which are expected to be YAML.

The solution to this could be either a work-around, or just

[2020-08-16 15:49] AlanCoding opened #79 "Support some means of customizing Galaxy server settings"
The galaxy CLI install commands are part of the Containerfile. Because it's a clean, replicable, environment it will use the Ansible defaults. There needs to be a means of passing a token and other settings for a private account to an Automation Hub server.

The challenge here is that we can't have any credentials left anywhere in the image, in intermediary layers, and maybe not in the build conte

[2020-08-17 16:54] AlanCoding opened #81 "Comment and space out Containerfile syntax"
With #59, this is what a Containerfile may look like:

[code]

Compare to human-written files:

https://github.com/ansible/ansible-runner/blob/devel/Dockerfile

Note the abundance of whitespace and comments.

ansible-runner should space out different commands (obviously phases, but even more than that), and write full-line comments where it is merited.

[2020-08-17 19:03] AlanCoding commented on #63
being addressed in #59

[2020-08-17 21:42] beeankha opened #82 "Create Official Builder Documentation"
Ansible Builder needs some documentation that is going to be similar in structure/style to [Ansible Runner's documentation](https://ansible-runner.readthedocs.io/en/latest/).

The documentation should contain very specific information in it about how to configure and build a specific EE image, step-by-step.

Deadline: end of September, 2020.

[2020-08-19 14:54] AlanCoding opened #86 "Better error message when you do not have podman"
podman is the default, but I have Docker on my machine. I run a command using the default and get this:

[code]

This is going to be a common thing to hit, and the program can give much better guidance than this.

[2020-08-20 14:29] AlanCoding commented on #47
I should link this:

https://kubernetes.io/docs/tasks/tools/install-kubectl/

I wanted to create a first-draft that just installs `kubectl`, but I don't see how I can do that.

Do we have to accomplish this entirely through `append` steps? Or add a new feature to ansible-builder?

[2020-08-21 13:09] AlanCoding opened #90 "Malformed bindep.txt files do not halt execution"
See https://github.com/ansible/ansible-builder/pull/89

We don't know how to determine of the `bindep` CLI command is successful in finding the missing deps, or if it has erred.

[2020-08-22 03:41] AlanCoding commented on #74
Link https://github.com/ansible/ansible-runner/pull/499

[2020-08-24 18:08] AlanCoding commented on #79
Note: discussed solution is messy and not ideal.

We would prefer to use simple podman / docker build args, but need to assure they do not get recorded in image.

[2020-08-26 00:03] AlanCoding commented on #79
I am hesitating at that suggestion to use build args.

https://pythonspeed.com/articles/docker-build-secrets/

It looks like they are present in the history of the final image. There is no important circumstance where this would be acceptable for the Ansible settings here.

[2020-08-26 00:05] AlanCoding commented on #69
@kdelee test coverage in

https://github.com/ansible/ansible-builder/blob/6d6ba5d5934d84d546300f31cfe6048a78555574/test/integration/test_build.py#L113

[2020-08-26 00:07] AlanCoding commented on #50
@kdelee test coverage in

https://github.com/ansible/ansible-builder/blob/6d6ba5d5934d84d546300f31cfe6048a78555574/test/integration/test_build.py#L72

and

https://github.com/ansible/ansible-builder/blob/6d6ba5d5934d84d546300f31cfe6048a78555574/test/integration/test_build.py#L60

[2020-08-26 00:09] AlanCoding commented on #47
the primary issue of `kubectl` is addressed for upstream in https://github.com/ansible/ansible-runner/pull/502 by switching the base to Fedora.

Downstream versions will have to add extra steps to enable this repo to get the RPM from.

[2020-08-26 00:10] AlanCoding commented on #47
However, all that does is unblock #67.

[2020-08-28 14:00] AlanCoding commented on #47
Alright, I think we've settled the questions and I'll open a PR soon in the collection.

[2020-08-28 14:00] #47 closed, assigned to nobody

[2020-08-28 14:12] AlanCoding commented on #47
🚚  --> https://github.com/ansible-collections/community.kubernetes/pull/211

[2020-09-29 19:46] #69 closed, assigned to nobody

[2020-09-29 19:47] shanemcd commented on #74
Should we do this by default, or should we document how this (and other tasks) might be done with `steps.append`?

[2020-09-29 19:48] #25 closed, assigned to nobody

[2020-09-29 20:19] AlanCoding commented on #74
in order for it to be effective it has to be done in the same layer, like:

https://github.com/ansible/ansible-runner/blob/e6020b7d33627a5d6656dca64d7ae09dd95cc75c/Dockerfile#L16

I think that will be a super simple patch

[2020-09-29 20:20] shanemcd opened #105 "Allow for specifying separate build-time and runtime system-level dependencies"
It would be cool to have a way of avoiding crud like gcc and python3-devel in the final images.

This may be a perfect use case for bindep "profiles". There could be a `build` profile that we install at the beginning of the build and uninstall at the end.

[2020-09-29 20:45] shanemcd commented on #79
It seems like build args might be ok if we use multi-stage builds. They do not show up in the output of `history` when run against the final image.

[2020-09-30 19:18] shanemcd commented on #41
I think we may have a use for this now. I'm not sure if we want to show the `print` statements in https://github.com/ansible/ansible-builder/pull/108/files all the time.

[2020-11-02 14:26] shanemcd opened #119 "Allow base image to be specified in definition"
Rather than this being a CLI-only argument, it would be nice to be able to specify our base image in the YAML definition.

[2020-11-04 18:33] beeankha commented on #41
To do:
- [x] Set logger levels via specified verbosity
- [ ] Error out if non-available verbosity is selected
- [x] Try to set up a system that assigns message color according to verbosity level
- [ ] Add info to documentation

[2020-11-10 13:06] shanemcd commented on #41
Implemented in https://github.com/ansible/ansible-builder/pull/112

[2020-11-10 13:06] #41 closed, assigned to beeankha

[2020-11-10 13:07] shanemcd commented on #82
This exists now: https://ansible-builder.readthedocs.io

[2020-11-10 13:07] #82 closed, assigned to nobody

[2020-11-10 13:16] pabelanger opened #121 "Expose ansible-galaxy CLI flags (eg: --pre)"
We'd like to be able to pass custom flags to ansible-galaxy CLI tool, in this case --pre. This allows us to use pre-released version of collections in our testing environments.

[2020-11-10 13:32] pabelanger opened #122 "Add support to install ansible collection as tarball"
In some cases, we want to be able to install a collection tarball from the local file system. This could be before we don't have access to galaxy or we are testing an unreleased version of code.

We do this today by not using a requirement file, and use the CLI directly
[code]

[2020-11-10 13:32] pabelanger opened #123 "Support collection tarball installation"
In some cases, we want to be able to install a collection tarball from the local file system. This could be before we don't have access to galaxy or we are testing an unreleased version of code.

We do this today by not using a requirement file, and use the CLI directly
[code]

[2020-11-10 15:51] pabelanger commented on #123
This is a dupe of #122, github error'd when I first created the issue

[2020-11-10 15:51] #123 closed, assigned to nobody

[2020-11-12 15:11] beeankha commented on #86
Closing, PR https://github.com/ansible/ansible-builder/pull/124 has been merged.

[2020-11-12 15:11] #86 closed, assigned to beeankha

[2020-11-13 18:08] pabelanger commented on #105
++ I dont mind looking into this

[2020-11-17 20:57] snooyen opened #125 "Local execution use case?"
Is this project purely directed at setting up execution environments for AWX / Tower use cases?

Specifically, would the community be able to use this project to distribute containerized execution environments that engineers can use on their local workstations to execute Ansible code?

To that end, is there a way to specify Ansible / Python versions for a given execution environment?

What about i

[2020-11-19 19:16] chrismeyersfsu opened #126 "Default verbose level to 2"
First time running `ansible-builder`, I thought nothing was happening. Consider verbose level 2 to be the default and have a `silence` option.

[2020-11-19 19:19] chrismeyersfsu opened #127 "consider helping the user find the `--container-runtime` option"
[code]
Change above error message to include `--container-runtime` and, stretch here, include the list of runtimes that the user _does_ have.

[2020-11-19 20:00] chrismeyersfsu opened #128 "Print absolute path to build context directory in output."
[code]

What does this mean?

[2020-11-30 20:05] beeankha commented on #119
Closing per merge of PR https://github.com/ansible/ansible-builder/pull/129

[2020-11-30 20:05] #119 closed, assigned to beeankha

[2020-12-02 15:42] AlanCoding commented on #128
When you run `ansible-builder build`, it takes your Execution Environment Definition as input. From that, it produces two outputs, the image and the build context.

The build context can be reused later to make the same image again, even if you don't have `ansible-builder` installed.

[2020-12-02 16:06] AlanCoding commented on #125
ansible-builder is basically a tool for one part of an image build. It needs a base image conforming to certain things (like having Ansible installed), and in practice we are only supporting the official base image, which comes from:

https://github.com/ansible/ansible-runner/blob/devel/Dockerfile

In the execution environment definition you can add extra build steps to install things like terrafo

[2020-12-07 18:09] #125 closed, assigned to nobody

[2020-12-07 18:15] shanemcd commented on #128
This has been on my mind for a while. I'd like the output to print out an absolute path. Going to rename this issue.

[2020-12-08 17:25] beeankha commented on #126
PR https://github.com/ansible/ansible-builder/pull/131 has been merged, closing this issue!

[2020-12-08 17:25] #126 closed, assigned to beeankha

[2020-12-08 21:02] rooftopcellist opened #136 "Error if we see an unrecognized YAML key is used in EE.yml"
When we parse the execution-environments.yml file, we should error early if an unrecognized key is provided.  Currently it is just silently not found and returns `None`.

For example, this is an invalid execution-environment.yml

[code]

(`requirements:` should actually be `dependencies:`)

[2020-12-08 21:56] rooftopcellist commented on #136
Note: This "early fail" parsing logic probably belongs here in the [`UserDefinition` class](https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/main.py#L139).

[2020-12-10 15:40] geerlingguy opened #138 "Ansible Galaxy requirements not being installed in Execution Environment?"
I tried following the directions in the [Introduction to Ansible Builder](https://www.ansible.com/blog/introduction-to-ansible-builder) blog post that was published earlier today, but am running into at least one, maybe two issues:

I have my `execution-environment.yml` file defined like this:

[code]

And I have my `requirements.yml` file like this:

[code]

When I run the command `ansible-builde

[2020-12-10 15:44] geerlingguy commented on #138
Apparently this is related to: https://github.com/ansible/ansible-builder/issues/136

I changed `requirements` to `dependencies` in my `execution-environment.yml` file, and it seems to be working now.

[code]

[2020-12-10 15:49] geerlingguy commented on #138
Seems like the root cause of my problem was that the blog post had a typo in it—`requirements` should be `dependencies` in the example, and I believe that is being corrected so future readers will not bump into this when they copy and paste examples :)

I'm okay with closing out this issue and just noting the importance of getting #136 resolved to help others who might not use the right keys to se

[2020-12-10 15:51] shanemcd commented on #138
Thanks for kicking the tires 😄

[2020-12-10 15:51] #138 closed, assigned to nobody

[2020-12-10 18:23] beeankha commented on #79
PR https://github.com/ansible/ansible-builder/pull/137 has been merged, closing this issue!

[2020-12-10 18:23] #79 closed, assigned to jladdjr, rooftopcellist, beeankha

[2020-12-10 18:57] pabelanger opened #141 "Write out sources into subdirectory in build context"
There is a use-case with some downstream build tooling that expects a Dockerfile in the top-level directory. This is not a major issue, but also forces all other files in the context folder to be top-level.

We should allow for the location of the Dockerfile / Container file to be config option, then use proper path info for files located in the context folder.

[2020-12-10 19:01] shanemcd commented on #141
Rather than putting the Dockerfile outside of the context directory. I think we should always put the stuff that’s ADDed under a sources/ directory (call it whatever).

[2020-12-11 14:57] AlanCoding opened #144 "Prepend steps don't work since moving to multi-stage builds"
Example:

[code]

yields Containerfile

[code]

But that's not right, because `RUN dnf config-manager --set-enabled epel` happens inside of the `builder` image and later `RUN dnf -y install $(cat /build/bindep_output.txt)` happens inside of the 2nd (and final) image.

The prepend steps should probably act on the 2nd image, not the first ephemeral image

[2020-12-11 15:03] pabelanger commented on #144
fun! So, as we get more into using the builder layer to compile things and the base layer to run things, we might need to allow that in the additional_build_steps syntax. In some cases, we don't need 'compile' packages or repos in base.

[2020-12-11 21:47] AlanCoding commented on #141
^ Everyone says keeping a lightweight build context is a best practice, and if you're putting the context at the top level of the project, there's going to be a bunch of who-knows-what which gets into that same folder, like `.git`, Zuul config, etc...

Managing a custom path for the Dockerfile might get a little ugly, but not as bad as people throwing around `.dockerignore`s all over the place

ED

[2020-12-11 22:12] pabelanger commented on #141
I like the idea of 'sources' folder inside of context, which is where Dockerfile live.  I'm going to hack on it this weekend, to see if I can come up with a POC.

[2020-12-12 03:01] AlanCoding commented on #141
I'm tripping over terminology now. The Dockerfile doesn't need to be in the build context, so when this `sources` folder is proposed, it makes sense that _that_ becomes the build context, only problem is that `ansible-builder build` already has a CLI option for the build context.

[2020-12-12 03:11] AlanCoding opened #147 "Support special-purpose bindep profiles"
We have a proposal that we would document certain bindep profiles that, if included by a collection, would trigger certain behavior by `ansible-builder`. We have discussed:

 - `epel` - if a collection had entries with this profile, then the epel repo would be enabled before installing those requirements
 - `compile` - if a collection had entries with this profile, then it would indicate that it i

[2020-12-12 03:11] AlanCoding commented on #144
resolved

[2020-12-12 03:11] #144 closed, assigned to nobody

[2020-12-13 18:13] shanemcd commented on #105
I ended up hacking on this in #148

[2020-12-14 13:44] AlanCoding commented on #147
I guess this is kind of a duplicate with https://github.com/ansible/ansible-builder/issues/105

[2020-12-14 20:13] pabelanger opened #150 "introspect.py should move into ansible-runner image"
We should move introspect.py into ansible-runner, rather then having every EE repo container a copy of it.

This might take a bit of work, given we hardcode some 'execution-environment' filenames / variables. But, not impossible.

[2020-12-15 14:56] pabelanger opened #152 "Need flag to force Dockerfile or Container file, regardless of container runtime"
We have a requirement downstream, to use podman for builds.  However, by using the podman container-runetime, we hardcore Containerfile.

In some cases, people run podman, but still expect Dockerfile to be used.  The way to work around this is to create a symlink
[code]

But we should expose a way for the user to pick the filename, independent of container-runtime.

[2020-12-15 14:59] pabelanger opened #153 "Removed duplicate requirements.yml file"
Because we need a requirements.yml file, to tell ansible-builder with collections to install, we 'copy' that requirements.yml file into the context folder.  This leaves the user with 2 requirements.yml files, to store in git.

We should allow for the requirements.yml file to exist under the context folder, and if it does re-used it, rather then copying it back into the top-level context folder.

h

[2020-12-15 15:07] #136 closed, assigned to beeankha

[2020-12-15 17:24] #67 closed, assigned to nobody

[2020-12-15 17:28] kdelee commented on #56
yes we can close

[2020-12-15 17:28] #56 closed, assigned to nobody

[2020-12-15 17:37] #63 closed, assigned to nobody

[2020-12-15 17:37] #62 closed, assigned to nobody

[2020-12-15 17:39] #50 closed, assigned to nobody

[2020-12-15 21:24] shanemcd opened #156 "Document compile/epel bindep profiles"
These new profiles were introduced when https://github.com/ansible/ansible-runner/pull/581 landed. We should explain how they work somewhere in the ansible-builder documentation.

[2020-12-18 16:46] DWSR opened #159 "Allow Customization of `builder` stage"
I'm using `ansible-builder` `0.4.0`, which is hardcoded to use `quay.io/ansible/python-builder` as the base for the `builder` stage.

This is very limiting for me for a couple of reasons:
* I need to pull dependencies through a private Artifactory instance which is using a private CA cert and I have no way of getting that CA certificate to the container image right now.
* I need to pull dependenci

[2021-01-04 18:43] AlanCoding commented on #159
Point taken, but, I would put this at much lower priority than supporting the `builder` image itself, because you can solve the same problem with customizing your base `builder` image.

In #160, we are changing the base image customization to a build arg. This is so that in a sequence of commands of `ansible-builder build` and then later `podman build`, the user can apply a custom setting to `podm

[2021-01-05 15:06] DWSR commented on #159
This only solves doing things before, not after, and it makes those things less discoverable than having them declared in the execution env manifest. IMO it should be both, but I agree that customizing the steps around the builder is lower priority than allowing an arbitrary builder image to be used.

Sounds good!

[2021-01-12 19:37] AlanCoding commented on #122
I was kind of excited about the download command, demo with awx-ee:

[code]

produces

[code]

[code]

There are likely to be multiple ways to use this feature, and I would love if we had some way to support installing from the requirements file from `download` like this.

[2021-01-13 13:47] AlanCoding commented on #159
With https://github.com/ansible/ansible-builder/pull/167, we allow customizing the build arg `PYTHON_BUILDER_IMAGE`. You can do this with `--build-arg` CLI or in the definition file. This is not yet released.

We still have no means of adding custom steps anywhere in that stage of the Containerfile.

I will leave this open referring to that request.

[2021-01-13 14:15] AlanCoding commented on #122
I was going in the direction of a `requirements.yml` file here, but the issue mentions giving CLI args to the install command. We need to think carefully about what we want to support here, and I need to start with the Ansible code base for that.

This is the blurb that processes CLI args (as opposed to requirements file) for `ansible-galaxy collection install`:

https://github.com/ansible/ansible

[2021-01-13 15:48] AlanCoding commented on #153
The awx-ee solves the problem by placing it under `_build/requirements.yml`.

https://github.com/ansible/awx-ee/blob/a4dbae5690927497ff2c0b7a681788e416115fd4/_build/requirements.yml

Does this then boil down to a docs issue?

[2021-01-13 15:49] AlanCoding commented on #74
I think we are generally doing this

[2021-01-13 15:49] #74 closed, assigned to nobody

[2021-01-13 15:50] AlanCoding commented on #78
With the existence of other workarounds, I think this is safe to close as a won't-fix

[2021-01-13 15:50] #78 closed, assigned to nobody

[2021-01-13 15:59] AlanCoding commented on #121
Closed with https://github.com/ansible/ansible-builder/pull/173

[2021-01-13 15:59] #121 closed, assigned to nobody

[2021-01-13 16:12] AlanCoding commented on #141
Closed with https://github.com/ansible/ansible-builder/pull/157, which finalized on the `_build` directory.

See awx-ee

https://github.com/ansible/awx-ee/tree/devel/_build

network-ee has also been updated.

[2021-01-13 16:12] #141 closed, assigned to nobody

[2021-01-13 16:13] AlanCoding commented on #105
Closing as implemented, we have another issue discussing documentation for this.

[2021-01-13 16:13] #105 closed, assigned to shanemcd

[2021-01-13 16:23] AlanCoding commented on #90
Issue was filed upstream for `bindep` here https://storyboard.openstack.org/#!/story/2008049

Ping @pabelanger, this can create situations which are _really_ difficult to debug. I mainly hit it where it would error without a trailing newline at the end of the input bindep.txt file (but there are many other things that can go wrong, from collection bindep.txt files). It keeps running deep into the

[2021-01-13 16:28] kdelee commented on #33
@AlanCoding says this pretty much is not going to happen

[2021-01-13 16:45] AlanCoding commented on #33
Yes, the main use I see is to aid the migration story from custom venvs -> EEs (heads up, @rebeccahhh is working on that)

The problem is, if we ever do this (allowing the user to keep their `ansible_python_interpreter`), we won't do it in time to help the migration. So... for the consistency and predictability of EEs everywhere, we close this.

[2021-01-13 16:45] #33 closed, assigned to nobody

[2021-01-13 16:46] AlanCoding commented on #81
Well we spaced it out, closing as good enough.

[2021-01-13 16:46] #81 closed, assigned to nobody

[2021-01-13 19:17] AlanCoding commented on #147
Closing as replaced by https://github.com/ansible/ansible-builder/issues/156

[2021-01-13 19:17] #147 closed, assigned to nobody

[2021-01-13 19:18] AlanCoding commented on #156
Copying from prior issue

----

We have a proposal that we would document certain bindep profiles that, if included by a collection, would trigger certain behavior by `ansible-builder`. We have discussed:

 - `epel` - if a collection had entries with this profile, then the epel repo would be enabled before installing those requirements
 - `compile` - if a collection had entries with this profile,

[2021-01-14 15:32] AlanCoding commented on #150
Is this just about introspect, or about getting rid of the 2-phase builds completely? The introspect script can easily be used on its own, but we do additional processing of its output which would need to be moved into the introspect script in order to get rid of the 2-phase system. Also, the introspect script would need to write the files on its own - this is functionality that we used to have bu

[2021-01-14 15:37] pabelanger commented on #150
The main reason, was to avoid having multiple copies of introspect.py with in each git repo for an EE.  You can see:

https://github.com/ansible/network-ee/blob/main/_build/introspect.py
https://github.com/ansible/awx-ee/blob/devel/_build/introspect.py

Given that file isn't dynamically generated, I think it's better to store it inside a layer.  I poked around, and figured ansible-runner could be

[2021-01-14 16:03] AlanCoding commented on #150
Gotcha, to paraphrase, this is part of the goal of minimizing the content in the `_build` folder.

[2021-01-14 16:12] pabelanger commented on #150
Ya, I think that would be fair.  Specific to introspect.py, I think there is a better way to manage that file, then it duplicated in a lot of repos.

[2021-01-14 16:39] AlanCoding commented on #150
Hold on, we _don't_ put `introspect.py` in the image. Like, at all.

https://github.com/ansible/ansible-builder/blob/b40012151ff52ee29f5c32b2b9257abe0984c19e/ansible_builder/main.py#L92

We mount the build context folder.

So... just don't move it to the build context in the first place. Instead of mounting that folder, mount whatever folder the original `introspect.py` happens to be in. This is m

[2021-01-14 17:01] pabelanger commented on #150
++

[2021-01-16 03:36] AlanCoding commented on #122
Closing as implemented

[2021-01-16 03:36] #122 closed, assigned to nobody

[2021-01-16 03:38] AlanCoding commented on #150
We didn't do exactly what the original idea was, but we accomplished the goal of getting rid of the need for `introspect.py`.

I'll put up a PR to awx-ee soon with the changes this causes

[2021-01-16 03:38] #150 closed, assigned to nobody

[2021-01-26 21:35] pabelanger opened #184 "Remove dependency on local build folder"
I know I've raised this point before, but I feel now that we have multi-stage builds working properly, we can finally work the idea of removing the build stage mounts for introspect.

Here is a POC (non-working) Dockerfile that should explain what I am thinking.

[code]

The idea here is, ansible-builder does some special magic of creating 2 dockerfile to produce an EE, expect we overwrite the fir

[2021-01-26 21:37] pabelanger commented on #184
Basically, we first have to land https://github.com/ansible/network-ee/pull/33, moving collection requirements into the network-ee, to merge https://github.com/ansible-collections/ansible.utils/pull/38, then we will revert and regenerate network-ee with ansible-builder to ensure our build context is up to date.

[2021-01-27 14:31] AlanCoding commented on #184
I don't understand the need to have `from galaxy as requirements`. Just keep working in that image as `galaxy`. That already doesn't become part of the final build. I just don't see the point of introducing a new image.

[code]

can be written more simply as:

[code]

There's more to discuss, I just want to help move things forward to touching up the mockup a bit.

[2021-01-27 14:37] pabelanger commented on #184
100%, agree. THis was just v1 of the POC, galaxy layer is disposible so we can also include introspect there

[2021-01-27 17:16] AlanCoding commented on #184
I don't follow the title of this issue. The Containerfile still has `ADD _build /build`, which may contain an `ansible.cfg` with Galaxy server config and/or collection tarballs. That won't be removed.

It's not technically problematic to install `ansible-builder` into the container image, but this means you are carrying 2 copies of `ansible-builder`, one on the host machine and one inside the cont

[2021-01-27 17:47] pabelanger commented on #184
You are right, for the reasons above, removing build directory isn't correct. It is more the 2 phase build process and using the local filesystem to store the requirements / bindep combined files.  That really causes me some pain, while trying to rebuild an EE, if a collection changes those files pre-relase.

[2021-01-27 18:55] AlanCoding commented on #184
I want us to keep in mind that the introspect logic is important as a source of truth for what winds up in an execution environment, and this is intended to fit into a Galaxy integration at some point. This is the one consumer we have:

https://github.com/ansible/galaxy-importer/blob/ed96acbf660102eb5ebef26f857abece584ae525/galaxy_importer/utils/execution_environment.py#L18

If we move the introsp

[2021-01-29 14:37] AlanCoding opened #187 "Report filtered dependencies in output from introspect"
We skip certain requirements (mostly python ones) for various reasons:

https://github.com/ansible/ansible-builder/blob/f53d6415128c918d00c046c6eba040be95cd2fa2/ansible_builder/requirements.py#L7

We should have a separate section in the YAML outputted from the introspect script that lists the lines which were scrubbed from these files - for transparency.

[2021-01-29 14:40] AlanCoding opened #188 "Build the containerfile from a jinja2 template"
People using `ansible-builder` will be familiar with the Ansible way of doing things, and doing string processing python is less user-friendly than building a file based off a jinja2 template.

We can't do this right now because the 2-phase build process complicates things. After we move away from 2-stage building (related https://github.com/ansible/ansible-builder/issues/184), this will be an ele

[2021-01-29 14:50] AlanCoding opened #189 "Allow excluding some collection requirements in the definition file"
If people start building EEs with a large number of collections, the likelihood of conflicts in python or system requirements increases dramatically.

We should have a way to do ad-hoc fixes of this, by excluding requirements from certain collections, so that users will be able to still build the EE with requirements for the rest of their collections. This means that the collection will still be i

[2021-01-29 15:16] AlanCoding opened #190 "Explain in docs the use of parent images once the dust has settled"
I have been putting in rolling updates to the gist here:

https://gist.github.com/AlanCoding/a61ec24e35b980dca27f5e2ddb553a1d

This was with the intent for it to eventually go into docs.
However, at the moment, things may be moving too fast to effectively migrate these into documentation.
After all of the other discussed rewrites are finished we should migrate the information in that gist (or its

[2021-01-29 16:44] AlanCoding opened #191 "Allow installing system requirements from custom repos"
Followup from https://github.com/oVirt/ovirt-ansible-collection/pull/197

https://github.com/oVirt/ovirt-ansible-collection/pull/197#discussion_r545429088

This is not supported, we support installing from EPEL, but we don't have a solution that can scale to source from other repos.

To clarify use case: Collections sometimes want to install RPMs from a custom repo. We have a bindep profile to sup

[2021-01-29 18:36] AlanCoding commented on #184
I'm trying to fold in all the high-level topics we talked about, and get the most basic visibility of what we're thinking about.

[code]

This might be getting closer, but a lot doesn't feel right. The entire existence of the 2nd stage is awkward. The only reason that image is more than a collection of bash scripts is for `bindep`, but if we're installing ansible-builder ad-hoc, why are we not doi

[2021-01-29 21:28] AlanCoding opened #192 "Need a way to get introspect data from an existing execution environment"
Scenario:

I have pulled an image from the internet which is an execution environment, and I want to find out what python and system requirement came from which collection.

I can get python requirements via:

[code]

But there appears to be no user-friendly way to get the mapping of what system requirement came from what collection anymore. Actually running introspect script is not very user frie

[2021-02-01 21:46] AlanCoding commented on #90
I'm increasingly thinking that the best solution is to make `ansible-builder` depend on bindep as a python package and call it directly in code.

[code]

The cases which are actually painful for us look like fairly intentional return 1 or 0 cases in code, and we could error handle just fine if we were doing this in python, IMO.

But now we're calling this via the `assemble` script, and this leads

[2021-02-02 19:25] AlanCoding commented on #128
printing absolute path now and calling it done

[2021-02-02 19:25] #128 closed, assigned to nobody

[2021-02-02 19:26] AlanCoding commented on #127
Closing as resolved

[2021-02-02 19:26] #127 closed, assigned to nobody

[2021-02-02 19:26] AlanCoding commented on #152
Added `--output-filename=Dockerfile/Containerfile`

[2021-02-02 19:26] #152 closed, assigned to nobody

[2021-02-02 19:27] AlanCoding commented on #49
Put up a demo at:

https://github.com/AlanCoding/collection-dependencies-demo/tree/master/ee_imports

Still no clear plans for how something like this might be used. This is only _an_ idea.

[2021-03-12 00:12] ChetRHosey opened #195 "need to support custom CA certificates and proxy settings"
We use a transparent proxy which does MITM inspection of some HTTPS traffic. This means that some HTTPS connections are re-signed by an organizational CA rather than the original CA.

This interferes with ansible-builder, as it's not clear how we would add the custom CA root(s) to the builder image, and it fails to validate the connection to Galaxy:

[code]

Full output follows.

Some of our sites

[2021-03-29 05:41] ghost opened #196 "Allow specifying secrets to download collections from custom locations"
A general use case here would be to download collections from a private git repository, there should be a way to specify a token/key to be mounted onto the container for this purpose

[2021-03-29 20:35] ChetRHosey opened #197 "final tag shouldn't be applied to intermediate image"
`ansible-builder build` clobbers the existing tag even if it encounters an error.

As I understand it, the following process is used:

1) Build a temporary image with the required collections and modules. Apply the default or user-specified tag to this image.
2) Reference the tag to run introspect.py within that image to identify dependencies.
3) Build the final image with all dependencies. Apply

[2021-04-08 16:51] anshulbehl opened #201 "Feature to ignore/sanitize some bindep requirements"
Currently the `sanitize_requirements` only works with python requirements and doesn't work for the binary dependencies.
While working with some partner collections we have noticed below requirements in bindep.txt
[code]
This causes failure while building as below with ubi8 images

[code]
python as a requirement should be ignored in the bindep file[python38 is already installed in the base images]

[2021-04-08 17:28] AlanCoding commented on #201
In cases we are relying on things like `python38-devel`

https://github.com/ansible/awx-ee/blob/devel/_build/bindep_combined.txt#L10

We might leave those untouched, I'm not sure.

[2021-04-08 19:06] anshulbehl commented on #201
for this one I think we only need to sanitise when we see `python` in bindep file

[2021-04-09 20:32] howardjones commented on #156
I'm 8 hours into a "pip install" run - does it ever actually give up?
(trying to build an ansible execution container with azure-cli and azure.azcollection inside)

[2021-04-14 21:15] marco-gallinari opened #203 "help with custom execution environment for awx"
Hello,

I am building a simple image I need to orchestrate some terraform deployments.
My requirements.yml is :

[code]

and my executin-environment.yml:

[code]

When I run the image, I can see the collection is correctly installed inside the image

[code]
but when I pull the image in an execution environment in AWX, running a job template in the environment always ends up saying:
ERROR! couldn't

[2021-04-15 13:43] lemmy04 opened #204 "unable to install 1.0.0a1"
I'm following the installation instructions, but it fails:

[code]

The last version that is installable with "pip3 install ansible-builder" is 0.6.0.
Any ideas?

[2021-04-15 14:34] shanemcd commented on #204
Weird. Can you try:

[code]

[2021-04-15 14:37] lemmy04 commented on #204
that worked... but a pip install without the version installs 0.6.0.

[2021-04-16 05:59] lemmy04 opened #206 "Unable to build EE images: python module build fails"
I've managed to get ansible-builder past the first problems with building images (See https://github.com/ansible/awx/issues/9917), now installation of the python modules listed in requrements.txt fails:

[code]

[2021-04-16 12:26] shanemcd commented on #206
Can you tell which dependency is trying to pull in pycurl? I'm not seeing it in the dep list for either `dnspython` or `winrm`, which you mentioned in your awx issue.

Ideally, the collections themselves would include the proper metadata so `ansible-builder` could do the right thing™ for you. If you can help us identify which collection needs this dependency, we can get that fixed the right way.

[2021-04-16 16:24] lemmy04 commented on #206
[code]

next possible occasion that isn't purely virtual due to corona, you, me, beers. possibly more than one.

[2021-04-16 16:26] lemmy04 commented on #206
Anyway, my best guess for the PyCURL requirement would be winrm, isn't that protocol basically https?

[2021-04-20 07:23] marco-gallinari commented on #203
Ok, found the issue... awx was using a different pod in the same namespace, it had nothing to do with the image.
Closing, sorry for the noise.

[2021-04-20 07:23] #203 closed, assigned to nobody

[2021-04-20 14:32] matburt commented on #191
This is going to be required for releasing.

[2021-04-20 16:55] pabelanger opened #207 "Allow for top-level EE denylist"
There are some cases, where we need to override the requirements.txt files and black file packages. There are various reasons for this.

In fact, we do this already internally for ansible-builder, however the list is hard-coded.

I propose we move this logic to an external file, and allow the execution-environment.yaml file to better control it.

[2021-04-21 02:02] weiyentan opened #208 "Errors spinning up EE pod"
I did my first attempt to create an execution environment. I am able to download ansible-builder1.0.0.0a1.

I build an execution-environment .yml with the referenced requirements.yml requirements.txt and i have a appened task of installing in some binaries. (copies below).  It compiles but I get errors like this.

[code]
I have attempted to move the install of the powershell stuff into the append

[2021-04-26 15:00] pabelanger commented on #206
you need to add python38-devel [compile] into your bindep.txt file, as it is a build-time requirement.

[2021-04-26 15:02] pabelanger opened #210 "Add support for build-requirements.txt"
There is a need downstream, to include python build dependencies into the python-builder image, but not the final image.  For this case, we've added support for build-requirements.txt file. But need to now allow for that in Dockerfiles generated by ansible-builder.

https://github.com/ansible/python-builder-image/pull/35

[2021-04-26 15:02] pabelanger commented on #210
In this example, setuptools_scm is needed to compile a wheel, however isn't needed by the wheel installed into the final image.

[2021-04-28 14:05] JustInVTime commented on #196
:+1:

[2021-04-29 13:49] ilijamt commented on #206
Even running it with empty requirements and collections, I still get the same error. I just wanted to run the ansible builder to try it out. Same issue.

[2021-04-29 13:56] pabelanger commented on #206
@ilijamt what does your bindep.txt file look like?

[2021-04-30 17:15] pabelanger opened #211 "Support PIP_OPTs for python-builder-image"
We added support to python-builder-image, which allows a user to pass pip options via PIP_OPTs:

  https://github.com/ansible/python-builder-image/pull/34

In the case of downstream builds, we set --no-build-isolation for reproducible builds. Additionally, it would allow upstream users to pass:

  --no-binary :all:

Which disabled use of pre-compiled wheels, again getting upstream builds closer to

[2021-04-30 17:31] pabelanger opened #212 "Add ability to just generate contents of build folder"
It would be helpful to allow of just running the generate build folder command, rather then a full build.

We have a use case downstream, where we want to generate the latest _build folder contents, but build using a different container build system.  Today we run ansible-builder, but ctrl-C when the 2nd stage builds start.

[2021-04-30 21:23] saxx0n commented on #195
We have the same problem, but are not using a transparent proxy.  ansible-builder does not use environmental variables for proxy settings, and without them, when attempting to build we get:
[code]
After viewing the proxy logs, it is clear that no attempt is being made to use the proxy.  When the exact same command/config is run from a box with direct internet access it functions correctly.

[2021-05-10 13:11] AlanCoding commented on #191
We are using a stop-gap solution for several repos already. It's just that oVirt is the one that proves the general point because its repo is so specific to the project.

See where we install some repos in the python-base image:

https://github.com/ansible/python-base-image/blob/2af877dde32d861f57e5432f06f62767245807de/Containerfile#L30-L33

Packages are installed using such a repo in the python-b

[2021-05-10 14:58] anshulbehl opened #213 "When layering a collection on top of an EE builder introspects the lower layers too"
When you try to build and EE with a partner collection on top of an already built EE that has its own collection, builder tries to introspect all the collections inside all the layers.
This essentially means that if there are EE/s that are created without using builder or using manual build requirements and binary dependencies, it can probably fail to find some custom requirements.

Usecase1: I ha

[2021-05-17 20:18] AlanCoding commented on #201
Could you link to a case of this? This shouldn't be too hard to implement but I want to know a little better what we're targeting.

[2021-05-18 02:44] duntonr commented on #206
After having a working custom build with 0.1.0, I started having this issue again with 0.2.0.  It fails on `cryptography`, which seems to be a well-known issue (https://github.com/watson-developer-cloud/python-sdk/issues/418 for example)

I got it working by updating my bindep.txt to
[code]
note addition of additional python38 package but mainly the gcc-c++ package, cribbed from https://github.com

[2021-05-19 20:20] rgl opened #215 "ansible-builder --version reports wrong version"
While trying ansible-builder for the first time, I've noticed that I've installed 0.6.0 but ansible-builder reported 0.4.0, which does not seem the correct version.

Here's how I've installed this:

[code]

And how it reported the version:

[code]

[2021-05-25 18:57] AlanCoding commented on #212
Early in this project's history we have 2 primary actions, `ansible-builder create` and `ansible-builder build`. The "create" command would just create the build context without running the podman build command.

https://github.com/ansible/ansible-builder/blob/1c7b5d317399e18596e04500d4b68b2add91b6ad/ansible_builder/cli.py#L49-L56

This was no longer possible after we started running the "introspe

[2021-05-25 19:01] AlanCoding commented on #213
We have never seriously looked into the engineering complexities of layering EEs on top of each other. This would be a major item of work that needs real planning.

[2021-05-25 19:36] AlanCoding commented on #211
How would users pass this option to ansible-builder? Would it be in the execution environment definition?

[2021-05-25 20:13] pabelanger commented on #211
I imagined it working the same way we did the galaxy opts setting

[2021-05-26 00:48] AlanCoding commented on #211
so a build arg.

The assemble script also takes, in some sense, CONSTRAINTS, PACKAGES, and others. I don't fully understand those options.

In my imagination, this would follow an `ARG` and then `ENV` pattern in the Containerfile. That wouldn't get messy if we add more later.

[2021-05-26 01:02] AlanCoding opened #218 "Attempting -vvvvv gives KeyError"

[2021-05-26 14:35] AlanCoding commented on #210
What's the interface here? A file needs to be created, `/tmp/src/build-requirements.txt`.

Where does that go in the process? It looks like it would be:

 - User maintains another python requirements file for build requirements, separate from the existing file we support
 - That gets referenced somewhere in the definition file
 - Given those things, an `ADD` layer is added in the `builder` stage b

[2021-05-26 14:50] AlanCoding commented on #207
I don't think that you're proposing that the default behavior will change. So some way or the other, we still have to ship the existing ignore list. Saying that it should be in a file, my best solution would be to package it as a data file:

https://packaging.python.org/guides/distributing-packages-using-setuptools/#data-files

Doing this exposes us to some hazards... but it's probably fine.

But

[2021-05-26 15:00] AlanCoding commented on #204
That makes sense, but this should be resolved in time when the alpha releases become non-alpha.

[2021-05-26 15:00] #204 closed, assigned to nobody

[2021-05-26 15:05] AlanCoding commented on #197
This should get resolved by https://github.com/ansible/ansible-builder/pull/217

[2021-05-26 15:05] #197 closed, assigned to nobody

[2021-05-26 15:17] shanemcd commented on #153
This is fixed https://github.com/ansible/ansible-builder/pull/217

[2021-05-26 15:17] #153 closed, assigned to nobody

[2021-05-26 15:20] shanemcd commented on #159
We could technically do this now. Maybe it could be a new key under `additional_build_steps` other than prepend / append?

[2021-05-26 15:42] shanemcd commented on #184
This is done via #217

[2021-05-26 15:42] #184 closed, assigned to nobody

[2021-05-26 15:43] shanemcd commented on #190
@AlanCoding We might be able to do this now. Removing the blocked label.

[2021-05-26 15:52] shanemcd commented on #208
Hi. Can you build on top of the latest awx-ee and try with the latest version of AWX?

[2021-05-26 15:53] shanemcd commented on #212
This is now possible with #217

[2021-05-26 16:07] shanemcd commented on #215
We should probably fix this before 1.0.

[2021-05-26 19:45] AlanCoding commented on #215
@Zokormazo while you're installing builder in other contexts, I wanted to see if you could verify this issue. Thanks.

[2021-05-26 20:11] Zokormazo commented on #215
Sure

[2021-05-27 06:55] weiyentan commented on #208
i'll give it a go but i actually fixed by doing a bit of a hack by putting this in it:

[code]

[2021-05-27 06:55] #208 closed, assigned to nobody

[2021-05-27 13:55] AlanCoding opened #227 "Deal with duplicate python / bindep requirements???"
https://github.com/ansible/awx-ee/blob/4e1c896e659acf549f12202c52b3035f8ee2dc24/_build/bindep_combined.txt#L2

https://github.com/ansible/awx-ee/blob/4e1c896e659acf549f12202c52b3035f8ee2dc24/_build/requirements_combined.txt#L8

Is it reasonable to have `requests` as a python requirement while also having `python38-requests` as a dnf requirement?

[2021-05-27 14:06] AlanCoding opened #228 "Introduce a shared pattern for python test libraries"
Lots of collections have pip requirements that are needed for testing but not for use. Probably _most_ of them.

Right now we maintain the exclude list:

https://github.com/ansible/ansible-builder/blob/e531bafd06cadb954c7b8aaaeb52b29179d8a127/ansible_builder/requirements.py#L7-L17

A better way to configure this would be to allow the collection to specify a separate requirements file for test requ

[2021-05-27 14:07] AlanCoding commented on #228
If we have a "default" location of `build-requirements.txt` top-level in a collection, then `test-requirements.txt` seems like the obvious place for test requirements. Of course, we would need a way to give a special location with the `meta/` EE metadata for collections.

Some versions of this pattern have already occurred in collections.

[2021-05-27 16:01] AlanCoding commented on #207
After looking over https://github.com/ansible/ansible-builder/issues/228 I'm majorly hesitating on this idea.

We need a better handle on what categories of requirements are involved. If it basically comes down to test requirements, then I want to know if people want to build an EE _for testing_ or if they really want a test library in EEs with their collection.

The issue is a real problem, but t

[2021-05-27 17:20] AlanCoding commented on #212
I'm going to say that this is ready for devel as the old `ansible-builder create` command.

[2021-05-27 17:21] AlanCoding commented on #188
Might do this but doesn't really need an issue since it's an internal refactor

[2021-05-27 17:21] #188 closed, assigned to nobody

[2021-05-27 17:49] AlanCoding commented on #192
This is still non-trivial, because `ansible-builder` is not installed in the EE itself. It's hard to figure out how one might do this without brittle volume mapping.

[2021-05-27 17:51] AlanCoding commented on #90
I am likely to combine this with https://github.com/ansible/ansible-builder/issues/201

[2021-05-27 18:05] AlanCoding commented on #195
What environment variables would we need to forward into the container? The pattern we need is pretty off-the-shelf, we just apply it to the `galaxy` stage in our case.

[code]

then in the Containerfile

[code]

That doesn't address the cases where something needs to be mounted.

For this issue, I would like some help pinning down exactly what would need to be passed.

[2021-05-27 18:08] AlanCoding commented on #189
Closing as a duplicate of https://github.com/ansible/ansible-builder/issues/207, which itself significantly overlaps with other issues.

[2021-05-27 18:08] #189 closed, assigned to nobody

[2021-05-27 18:10] AlanCoding commented on #196
Going to close as duplicate of https://github.com/ansible/ansible-builder/issues/195

If there's any specific means of passing secrets, please contribute to the discussion there. Thanks.

[2021-05-27 18:10] #196 closed, assigned to nobody

[2021-05-31 13:14] Zokormazo commented on #215
[code]

[2021-05-31 13:14] #215 closed, assigned to AlanCoding, Zokormazo

[2021-06-01 16:21] ansiblejunky opened #235 "Ability to set various CLI options in the execution-environment.yml file"
Currently the container runtime option can only be passed to `ansible-builder` via CLI argument. It would be nice to add this option in the config file `execution-environment.yml`.  If the user wishes to override the value in the config file, they can still choose to provide the CLI argument `--container-runtime` which would take precedence.

[2021-06-02 12:33] shanemcd opened #237 "Stop using ansible devel base image"
Now that 2.11 is out we should probably start using `quay.io/ansible/ansible-runner:stable-2.11-devel` as the base image.

[2021-06-03 20:26] TimGrt opened #241 "Validation needed for dependencies in execution-environment.yml"
Using ansible-builder for creating an EE, I came across this error:
[code]
This error is fairly meaningless, I malformed the dependencies section (didn't use key-value pairs):
[code]
Providing a useful error message would help, stating the required type and available options, e.g.
[code]

Additionally, no validation is done for provided key-value pairs in dependencies section, this execution-envir

[2021-06-04 00:44] AlanCoding commented on #237
could we start tagging that as `:latest`, and then we could stop putting the tag on the value? Raised at: https://github.com/ansible/ansible-runner/pull/716

Putting in 2.11 for that constant doesn't feel like it would age well.

[2021-06-04 00:48] AlanCoding commented on #235
I would like to address this generally. Not just for `--container-runtime`, but other options like `--output-filename` as well.

[2021-06-04 17:28] shanemcd commented on #218
I thought `-v` took an integer? Did we change that?

[2021-06-04 18:06] AlanCoding commented on #218
Oh! It does for build/create. But introspect seems to be different.

[code]

[code]

One way or the other, there's something that needs fixing here.

[2021-06-04 18:26] ansiblejunky commented on #235
@AlanCoding Fully agree. I changed the title to be more generic.

[2021-06-04 19:29] AlanCoding opened #246 "Install collections to multiple locations"
The user should have the option to give multiple galaxy requirements file to install to different folders inside of the image.

Spitballing syntax:

[code]

Second location is taken from https://github.com/ansible/awx/pull/10323

Given this syntax, ansible-builder will install both requirements file to their respective locations. Then, the Containerfile will include COPY lines for _both_ locations

[2021-06-04 19:43] kdelee commented on #206
Looks like this has worked itself out, open another issue if you have a new error

[2021-06-04 19:43] #206 closed, assigned to nobody

[2021-06-04 20:15] #241 closed, assigned to beeankha, TimGrt

[2021-06-04 21:00] wenottingham commented on #246
This is a very specific downstream use that I don't think is super relevant for the general case. Not saying no, just that most people won't have a need for this.

[2021-06-05 01:33] AlanCoding commented on #246
Before we refactored out the two-phase process I would have agreed. However, now, downstream would have to pretty much rewrite the Containerfile. I'm not even sure if there's a valid way to pass the assemble script 2 separate python requirements file, which is what you would get with this. I'm not sure if not doing this is an option.

[2021-06-07 05:27] ganeshrn opened #247 "network-ee EE fails to run playbook while running with ansible-navigator"
` Unhandled message from runner queue, discarded` message is received in logs while running with ansible-navigator
Command:
[code]

The root cause of the issue is ansible-runner fails silently while reading event data from temp file of disk https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/runner.py#L76 due to permission issues resulting in sending partial data to ansible-navigat

[2021-06-07 13:24] AlanCoding commented on #246
Talking more, I have found out that a hack is in mind, and that the need for it may be temporary ping @shanemcd

[2021-06-07 13:24] #246 closed, assigned to nobody

[2021-06-07 22:45] #218 closed, assigned to beeankha

[2021-06-08 16:51] AdamMack2007 opened #251 "Can't open file '/ansible_builder_mount/introspect.py"
I am receiving the following error when running the build process:

## Error

[code]

## Versions
Ansible-builder == 0.4.0
Ansible == 2.9.21

## EE definition file:
[code]
## Directory Structure:

[code]

[2021-06-08 17:05] #251 closed, assigned to nobody

[2021-06-08 17:05] AdamMack2007 commented on #251
Issue was within venv, new venv solved the issue.

[2021-06-10 13:32] AlanCoding commented on #237
For testing:

`quay.io/ansible/ansible-runner:stable-2.11-devel` should now be the same as `quay.io/ansible/ansible-runner:latest`. So we did what was said originally, effectively.

[2021-06-15 20:17] kdelee commented on #237
lgtm, thanks

[2021-06-15 20:17] #237 closed, assigned to shanemcd

[2021-06-18 17:44] wenottingham commented on #247
Closing this as we don't see there's anything wrong with builder here. If there's an issue with navigator launching provided EEs, we should discuss it out of band in someplace that's not a GH issue.

[2021-06-18 17:44] #247 closed, assigned to nobody

[2021-06-23 12:42] Seb0042 opened #258 "Can't build new image because of 'non root' user"
Hello,

Here is my execution-environment.yml:
[code]
Each time I'm lauching a build it fails with this error:
[code]
So every time I have to modify the Dockerfile in context directory and add "User root" in it and then launch the build with a docker command.

[2021-06-24 03:49] ghyde commented on #195
You can already pass HTTP Proxy environment variables with `podman build --http-proxy ...` ([reference][0]). So, I don't think there would be a need to add `ENV` entries in the Containerfile. Instead, we could add an `--http-proxy` option to `ansible-builder`, and it would simply append it to the `podman build ...` command when it executes.

[0]: http://docs.podman.io/en/latest/markdown/podman-bui

[2021-06-24 03:57] ChetRHosey commented on #195
The issue isn’t just the proxy variables themselves, but also that some corporate proxies (even some transparent ones, which intercept traffic without being explicitly specified) will inspect and reencrypt traffic using an organization-specific certificate.

This means that, in order to fully work in proxies environments, it’s necessary to allow custom CA roots to be added to the container’s trust

[2021-07-01 20:11] thedoubl3j opened #260 "no FROM statement found"
When attempting to build an EE, I get an error that looks like below:
[code]
Version
[code]
OS/ENV
[code]

when messing around with the execution-environment.yml file, I noticed that if I comment out the ansible.cfg key, it is able to move forward so I think the issue lies somewhere in the creation of the containerfile and or the order it expects things to be in the `execution-environment.yml` fil

[2021-07-01 20:21] shanemcd commented on #260
That's weird. Can you paste the output of the generated Containerfile?

[2021-07-02 05:48] sabre1041 commented on #260
@shanemcd hitting the same issue. The directive to add the `ansible.cfg` file is in the incorrect location in the Containerfile

[code]

[2021-07-02 12:45] AlanCoding commented on #260
You're right, I think this is in the wrong location

https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/main.py#L73

After last things got moved, I think it was not realized that the FROM was in the next step, and it should be moved down to after that.

We should also add an integration test that uses the ansible config (it can be a fast one).

[2021-07-02 13:43] rajatguptarg commented on #260
I am facing the same issue. Following.

[2021-07-02 20:50] shanemcd commented on #260
Should be fixed by https://github.com/ansible/ansible-builder/pull/261.

@AlanCoding I wanted to get a fix up and ship 1.0.1 before calling it a weekend. Didn't look into adding tests. Can you add that to your list of things for next week if you have time?

[2021-07-02 21:20] shanemcd commented on #260
Hi all. Builder 1.0.1 is up on pypi and should fix this issue. Please let us know if you run into any more problems.

[2021-07-03 08:27] rajatguptarg commented on #260
works fine now. Thank you.

[2021-07-03 08:35] rajatguptarg commented on #260
Now there is another error while running the command in `Containerfile`:

[code]

The output is:
[code]

The error message is `ansible-builder command not found`.

EDIT: Kinda hack. Updating the `python-builder` container to install `ansible-builder` fix the issue.

FIX:

Following line can be added
[code]
 here: https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/main.py#L393

[2021-07-06 14:53] kdelee commented on #260
@rajatguptarg sounds like you might be hitting a different problem

with 1.0.1 pip installe, I can build the following `execution-environment.yml`
[code]
given that `requirements.yml` and `ansible.cfg` exist

[2021-07-06 14:53] #260 closed, assigned to nobody

[2021-07-15 16:09] stanislav-zaprudskiy commented on #195
Customizable [`prepend`](https://github.com/ansible/ansible-builder/blob/e46685c8a965a1c25f018d303c0d6b9051c6ca8c/ansible_builder/main.py#L87) and [`append`](https://github.com/ansible/ansible-builder/blob/e46685c8a965a1c25f018d303c0d6b9051c6ca8c/ansible_builder/main.py#L90) configs only apply to the final image in `Dockerfile` being generated by `ansible-builder`. What would be great to have are

[2021-08-11 06:28] Akasurde opened #267 "Add support for test-requirements.txt"
In `amazon.aws` collection, there is a [test requirement](https://github.com/ansible-collections/amazon.aws/blob/main/test-requirements.txt) which is different than normal `requirements.txt`.

For `network-ee` job, we require these requirements for unit tests. It seems that right now there is no way to specify `test-requirements.txt` while building the image using `ansible-builder`.

Please sugges

[2021-08-11 12:05] Shrews commented on #267
@Akasurde Couldn't you just use the `additional_build_steps` section of the EE def file to install the additional requirements yourself?

[2021-08-11 12:11] Akasurde commented on #267
@Shrews Let me check if it works for me and get back to you.

[2021-08-11 20:05] shanemcd opened #268 "Add support for outputting SRPM"
## Background

Several teams at Red Hat want to use Ansible Builder to create custom distributions of Ansible content. Red Hat's build and delivery system is built upon RPMs being the source of truth when it comes to any content being shipped.

## Proposal

In order to provide other Red Hat teams with something they can feed into the existing build pipelines, we should explore adding support for A

[2021-08-11 20:07] shanemcd commented on #268
We had also discussed the need for skipping the pip dependencies. I think our lives will be made easier by the fact that `ansible-builder introspect` already has separate options for `--write-bindep` and `--write-pip`.

[2021-08-11 20:11] shanemcd commented on #268
Oh, and perhaps this is obvious to some, but it is probably worth being explicit: we will need to put the collections / roles inside of the SRPM as well.

[2021-08-11 23:14] shanemcd opened #269 "Add support for outputting OSTree-based Execution Environments"
### Context

While https://github.com/ansible/ansible-builder/issues/268 exists for the purposes of operating within the confines of existing processes and systems, Ansible Builder should ideally produce artifacts that are ready to run / deploy.

While container-based Execution Environments work for the vast majority of use cases, there are scenarios where they will not be suitable. (See: RHEL for

[2021-08-18 16:21] Shrews commented on #268
FYI, RPM Packaging Guide: https://rpm-packaging-guide.github.io

[2021-08-18 20:52] pabelanger commented on #268
Ideally, we could reuse an existing tool, something like renderspec (https://docs.openstack.org/renderspec/latest/index.html).  If collections could include their spec files themself, builder could call renderspec (like we do for bindep) to produce the RPMs.

https://opendev.org/openstack/rpm-packaging/ has a lot of example of how to use the tool.

This means moving off the work to the collection

[2021-08-19 14:59] pabelanger commented on #267
what we really should support, is the ability to build 'test-requirements.txt' atop of an execution environment image. This would mean, adding the ability to introspect to search 'test-requirement.txt' files from each collection, over the requirements.txt file.

https://github.com/ansible/network-ee/blob/main/tests/Containerfile kinda explains more what I am thinking, except we don't introspect th

[2021-08-20 15:03] Shrews commented on #268
I think seeing some examples of how the other teams would expect (or like) to use builder in their processes (from execution on the command line, to anticipated output) might be useful for design purposes.

[2021-08-30 14:19] cidrblock opened #280 "Pregenerate json files for each contained plugins docstring during build"
Currently the ansible language server crawls the file systems and uses a regular expression to extract doc strings from plugins.

In the case of execution environments, having ansible builder extract the doc strings during the build process and store them in the container in a well-known location would allow this to be a one-time process vs. a process that occurred each time the language server wa

[2021-08-30 14:28] cidrblock opened #281 "New CLI parameter, `--dev-tools`"
The intent here is to allow for a second build of an EE that would include select development tools as an additional layer on a previously built EE.

For example:

1) Build target production EE with select collections and python packages
2) Build testing EE using `#1` as base layer
3) Test and validate using `#2`
4) Deploy `#1` EE to production

The final list of tools to include has not been disc

[2021-09-02 17:20] cidrblock commented on #280
Note:  This may not be needed for the initial EE support being added to the ansible language server for it's fall release.

Will confirm......

[2021-09-07 11:07] pabelanger commented on #281
this is exactly how we test EEs with sanity / units for network-ee collections:  https://github.com/ansible/network-ee/blob/main/tests/Containerfile

[2021-09-09 10:29] ikke-t commented on #195
I just got pointed to this issue. For the next ones running into this, I document here I went through the issue while working in such transparent firewall env at customer. Sorry I don't have access to files, but I try to describe the steps.

If you work on tower host, use awx account so all images are visilbe and referencable as localhost:imagename:tag in tower configs. Naturally later on you want

[2021-09-09 19:11] ChetRHosey commented on #195
As a modification to step 2 above, we reference the customized images in execution-environment.yaml. This keeps the `ansible-builder` execution simple since we don't have to remember to pass the image names.

[code]

[2021-09-16 17:06] cidrblock commented on #280
Confirm, not needed for the fall release of the language server and vscode plugin

[2021-09-17 08:25] Seb0042 commented on #258
Seems that the new version of ansible-builder resolves this issue.

[2021-09-17 08:25] #258 closed, assigned to nobody

[2021-09-27 14:01] cidrblock opened #286 "Add label to image to indicate the image is an EE"
Currently, ansible-navigator assumes an image is an EE if the workdir is set to /runner:

https://github.com/ansible/ansible-navigator/blob/main/src/ansible_navigator/actions/images.py#L343

Ideally, builder would add a label to each EE to indicate it is an EE, eg ansible-execution-environment: True, or something like this.

This might be a more reliable way to determine which locally available im

[2021-09-28 16:14] shanemcd opened #290 "Error when building an EE with no / empty requirements.yml"
@benthomasson ran into this error when using ansible-builder with an empty `requirements.yml`:

[code]

[2021-09-28 16:15] benthomasson commented on #290
requirements.yml:

[code]

[2021-09-28 16:17] benthomasson commented on #290
It fails in a different way with a proper error message with an empty requirements.yml

[code]

[2021-09-28 17:29] kbreit opened #291 "EE_BASE_IMAGE documentation is incorrect"
https://ansible-builder.readthedocs.io/en/latest/definition.html#execution-environment-definition shows you define the base image as:

[code]

However, using this gives an error:

[code]

[2021-10-06 07:17] fibbs opened #292 "feature request: build Multiarch images"
I have been making my first steps with Ansible-builder to create a custom execution environment for an AWX installation. One big thing I noticed is that if I use ansible-builder on my Apple Silicon Mac, the resulting image will be arm64 only and not usable on my AWX install. As more and more, also servers, are going ARM nowadays, I would recommend considering using `docker buildx` instead of `dock

[2021-10-06 07:23] fibbs opened #293 "feature request: ability to execute commands BEFORE ansible-galaxy run"
In execution_environment.yml, you can provide additional commands to be executed to build the actual ee image. This way, I was able to install extra software packages ("figlet" in my case, for example, which I use to generate lovely looking motds for my servers).
A problem I came across is that I wanted to install Ansible roles from a corporate git server (gitlab) within the requirements.yml file.

[2021-10-11 16:06] nwerker commented on #293
+1

This would be very helpful for any OS Dependencies!

[2021-10-21 15:14] cloin opened #295 "feature request: multiple tags on build"
Currently specifying multiple tags like so: `ansible-builder build -t tag1 -t tag2`, results in `docker build -f context/Dockerfile -t tag2 context`

The underlying tools support multiple tags so it would be nice if specifying multiple tags with `ansible-builder` was possible as well.

[2021-10-23 00:30] webknjaz commented on #295
+1 on this idea! I'd also love to have it.

[2021-10-28 07:24] kwinkel opened #297 "feature request: add support for kaniko as container-runtime"
It's kinda useful when building the EE from within a Kubernetes-Job.

https://github.com/GoogleContainerTools/kaniko

[2021-11-02 13:17] samdoran commented on #297
We have no plans to implement this feature at this time but would be willing to review a proposal adding support for this feature.

To discuss this further, please reach out on IRC #ansible-builder on irc.libera.chat 

[2021-11-02 13:17] #297 closed, assigned to nobody

[2021-11-05 09:37] mnecas opened #307 "RFE: Add no-cache option to the builder"
When doing some build automatically with the same name it would be nice to have the no-cache option.

[2021-11-05 13:48] lucab85 commented on #293
I'm looking for a way to to specify some commands to apply on the `$EE_BUILDER_IMAGE` image.

At the moment it's possible to specify commands on `$EE_BASE_IMAGE` before (`prepend`) or after (`append`) via `additional_build_steps` parameter in `execution-environment.yml`.

Same use-case about SSL certificates.

[2021-11-05 19:06] MallocArray commented on #195
I just ran into the same issue.  I have a corporate proxy that needs to have environment variables set to access
ENV https_proxy http://192.168.200.1

I can add this to the additional_build_steps but the ansible-builder process fails at the builder step when trying to install python requirements.txt and it has no knowledge of the proxy.  The additional_build_steps additions don't happen until the

[2021-11-16 14:12] Shrews commented on #227
The only `requests` reference in `ansible-builder` is in `docs/requirements.txt` and actually doesn't seem necessary to build the docs. I don't see the relationship to `awx-ee`. Can you elaborate?

[2021-11-16 14:18] samdoran commented on #267
Is this still an issue? It seems like using `additional_build_steps` to install additional requirements would work.

[2021-11-16 14:37] AlanCoding commented on #227
Requests will still creep into requirements, but won't appear in any of the files in the `_build` folder anymore. Collections will wind up listing it in cases like these:

https://github.com/ansible-collections/google.cloud/blob/master/requirements.txt#L1

Granted, it may see the requirement as already satisfied and not install it. I will optimistically close, expecting that to be the case.

[2021-11-16 14:37] #227 closed, assigned to nobody

[2021-11-25 14:57] vrubiolo opened #310 "[DOC] `ansible-builder container build|create` commands do not exist"
First, thanks for `ansible-builder`! I am using it to virtualize our Ansible playbook environments through AWX and the idea of being able to run jobs on an individual developer workstation this way before moving them into AWX is great. The documentation is also very helpful, especially since the AWX side (at https://docs.ansible.com/automation-controller/latest/html/userguide/execution_environment

[2021-11-29 13:56] Shrews commented on #310
This new CLI feature was added in https://github.com/ansible/ansible-builder/pull/279 and is not available in the `1.0` release, nor will it be backported. It seems our docs are based on the `devel` branch and not the released versions, so it is slightly ahead.

[2021-11-29 15:04] vrubiolo commented on #310
Ok, thanks for this information, this is useful to know. I will keep that in mind when browsing the docs.

[2021-11-29 19:24] samdoran commented on #310
The `latest` docs are based on the `devel` branch. For viewing documentation from the latest release, use the [`stable` version](https://ansible-builder.readthedocs.io/en/stable/).

[2021-11-29 19:27] samdoran commented on #310
We could change it so the doc site defaults to showing `stable` rather than `latest`.

[2021-11-30 09:23] vrubiolo commented on #310
Thanks @samdoran , I had missed the version selector which is very useful!
Yes, I think maybe defaulting to showing *stable* would be a good thing. This would match what you get when installing from *pip* (I am using Fedora 34). People wanting the *devel* one can always switch using the selector.

[2021-11-30 14:07] samdoran commented on #310
I will change the docs for this project to default to showing the documentation for the stable release, not the development branch.

[2021-11-30 14:38] samdoran commented on #310
Closing since the docs site now defaults to showing the stable version of the docs.

[2021-11-30 14:38] #310 closed, assigned to nobody

[2021-12-06 20:22] MallocArray commented on #295
+1

[2021-12-07 21:06] samdoran opened #315 "This is a new issue"
Please please label me.

[2021-12-07 21:11] #315 closed, assigned to nobody

[2021-12-09 17:30] SirUli opened #319 "Private python requirements impossible to install due to outdated requirements-parser"
When trying to install private python requirements the outdated library requirements-parser is in the way (Probably since it had not been

Our requirements.txt contain a couple lines in the beginning which are allowed for pip:

[code]

[Both of the open PRs](https://github.com/davidfischer/requirements-parser/pulls) on that repo would fix parts of the required settings.

A couple Links on that:
-

[2021-12-10 10:24] jplitza opened #323 "Option to disable --sanitize / override collection dependencies"
We have the situation that a collection we use depends on a module `foo` (without version). We would like to patch that version, and included a line in our `requirements.txt` like
[code]
But since `ansible-builder introspect` has a hardcoded `--sanitize` argument, our VCS specification is completely ignored and merged to only `foo` with the collection requirements.

[2021-12-10 11:02] SirUli commented on #323
So that is about a python requirements.txt which has special settings which are dropped.

The problem here is likely related to #319 since the library that performs this parsing is more than 3 years unmaintained and doesn't understand many of the pip features.

[2021-12-10 11:15] jplitza commented on #323
I saw that issue but doubt it's related. It may be a dependency to fix this  issue, but the builder code explicitly acts upon the requirement's name only:
https://github.com/ansible/ansible-builder/blob/1ad38e40f5a73834625073117852c7735dad016a/ansible_builder/requirements.py#L31-L36

[2021-12-10 12:26] SirUli commented on #323
Yep, tested that now. It is partly due to that. While the logic in the ansible-builder code only compares names and appends specs then, the library requirements-parser also doesn't yield the required feedback:

[code]

Leads to:

[code]

The library simply cannot deal with this format. It however would understand the format as follows:

``git+https://git.myproject.org/SomeProject#egg=something``

[2021-12-10 12:28] jplitza commented on #323
BTW, I worked around the issue by adding
[code]

[2021-12-10 17:02] friendlypenguin commented on #195
same problem here when using ansible-builder from RedHat Automation Platform 2.1 repositories.
used @ikke-t solution

[2021-12-17 20:22] MallocArray opened #334 "ansible-builder introspect --sanitize removes yamllint and ansible-lint from requirements.txt"
I want yamllint and ansible-lint to be available inside of my Execution Environment, so I added it to my requirements.txt file, but when the builder step runs `ansible-builder introspect --sanitize...` it strips this out from the resulting requirements.txt and is not available in the resulting EE.

I can work around this by adding a step to the append: section of additional_build_steps: to install

[2021-12-20 15:11] #307 closed, assigned to nobody

[2021-12-20 16:38] Shrews commented on #334
Thanks for your report.

During sanitization, there are certain packages that are excluded because usually you do not want them in your EE. That list can be found [here](https://github.com/ansible/ansible-builder/blob/3e4a25e22f6ffdc4385b3ee4ba9e79b2efe5aa5c/ansible_builder/requirements.py#L7-L17). The `yamllint` and `ansible-lint` packages are among those.  If you run the `introspect --sanitize`

[2021-12-20 16:44] Shrews commented on #323
I don't think we totally want to disable the sanitization feature (it will remove duplications), but we definitely need to update to understand some of the new pip features. An option to disable ignoring packages in the [exclusion list](https://github.com/ansible/ansible-builder/blob/3e4a25e22f6ffdc4385b3ee4ba9e79b2efe5aa5c/ansible_builder/requirements.py#L7-L17) during the sanitization process is

[2021-12-20 19:21] Shrews commented on #334
I'm going to re-open this and make it a feature request to ignore exclusions. The work being done in the issue referenced above will be to rework the requirements bits, so I'd hate to have two feature changes in a single PR.

[2021-12-23 02:48] dmsimard commented on #323
I couldn't get to the bottom of the issue at this time but I was trying to include the "ansible" package in a python ``requirements.txt`` dependency and found out that ansible-builder probably "sanitized" the requirements and removed it.

It's reproduceable with a requirements.txt that's like this:
[code]

Running ``ansible-builder build -v 3`` will eventually show:
[code]

The "ansible" package s

[2021-12-23 19:34] Shrews commented on #323
@dmsimard You may be interested in https://github.com/ansible/ansible-builder/pull/336

[2022-01-03 12:19] eqrx commented on #319
Hey @SirUli, sorry for the delay on this issue and thank you for the detective work. I have decided to test how dropping the dependency and would like to see if my solution fully covers you use case.

Could you provide me a more complete reproducer? Don't worry if not I would use my local scenario but I want to be sure I do not miss anything :)

Cheers

[2022-01-04 16:53] eqrx commented on #323
Hey all, putting work this on hold until #336 if through since it needs changes on the same portion of the code.

[2022-01-06 16:38] #334 closed, assigned to Shrews

[2022-01-20 14:20] eqrx commented on #319
https://github.com/madpah/requirements-parser/issues/62 adds the required functionality to requirements-parser. It solves the problem in my setup. @SirUli can you confirm please?

[2022-01-20 18:23] SirUli commented on #319
@eqrx sorry for my delayed reply. Yes now all is wonderful, this fixed the outstanding issue! Now it works, lovely :)

[2022-01-21 11:34] SirUli commented on #319
@eqrx reopening - the issue is that they actually had not added the functionality but just are skipping everything that isn't "supported" and left https://github.com/madpah/requirements-parser/blob/master/requirements/parser.py#L76 which means that private repos stay unsupported.

So the change that happened is actually that the private repos are skipped with a Warning and everything still continu

[2022-01-21 11:35] SirUli commented on #319
For the reproducer: Basically just add the lines from the top to any of your requirements.txt and check then during the build the requirements.txt that is generated (which actually misses the lines then).

[2022-01-22 18:02] eqrx commented on #319
Oh wow, that makes my reproducer look a bit sad :D Thank you for looking into it!
I will (starting monday) help working on requirements-parser for this issue and look for a mitigation for you while this is in the works.

[2022-01-24 16:14] #295 closed, assigned to Shrews

[2022-01-25 15:17] eqrx commented on #319
@SirUli Lets wait for discussion in madpah/requirements-parser#64 and see how we can tackle this problem. Does this work for you?

[2022-01-25 15:39] SirUli commented on #319
Absolutely fine - currently this keeps us from adopting ansible-builder but we live also with the current situation. So no worries - this is a bit more tricky than I thought...

[2022-01-25 21:15] raedrizk opened #339 "Option to disable the dnf update from the assemble script"
The assemble script runs a dnf update by default during the ee build. It would be useful to have the default behavior to not run the update (for consistency, disconnected environments...etc), and instead have an argument to update if desired.

[2022-01-26 14:50] shanemcd opened #340 "Document and test the "compile" bindep profile"
In the stage where we pre-build the wheels, the `assemble` script looks for a profile labeled [`compile`](https://github.com/ansible/python-builder-image/blob/main/scripts/assemble#L65), which allows us to install build-time only dependencies that do not end up in the final image.

An example:

[code]

[code]

[code]

[2022-02-01 16:44] Shrews commented on #339
The `assemble` script is not contained within `ansible-builder`, so this would need to be first handled in the repo where the `assemble` script lives (see [python-builder-image](https://github.com/ansible/python-builder-image)). If that repo chooses to support such an option, we could then consider something in `ansible-builder`. I suggest opening an issue there.

[2022-02-01 16:44] #339 closed, assigned to nobody

[2022-02-04 09:55] tombosmansibm opened #343 "Ansible builder command fails with "Failed to download metadata for repo 'appstream'""
I've tried several base images, the last one I tried was this:

quay.io/ansible/ansible-runner:stable-2.12-devel

`Error: Failed to download metadata for repo 'appstream': Cannot prepare internal mirrorlist: No URLs in mirrorlist`

I've added this to the ContainerFile directly (prepend does not work)

[code]

and I removed the assemble step
`RUN assemble`

I can build the image then, using the pod

[2022-02-04 12:28] tombosmansibm commented on #343
Nevermind, I pulled a newer version of the builder image , and now it's working fine.

[2022-02-04 12:28] #343 closed, assigned to nobody

[2022-02-08 00:29] cloin opened #346 "build doesn't pick up `ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN`"
I have an `execution_environment.yml` pointing to an `ansible.cfg` which contains automation hub configuration. Instead of specifying token in the file, I export `ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN` as an environment variable so I can build in github actions. I receive:
[code]

`ansible-builder build` fails with this configuration. `ansible-galaxy collection install ansible.utils` succeeds

[2022-02-08 14:06] Shrews commented on #346
I would expect this since `ansible-builder` doesn't pass along environment variables to the `docker build` or `podman build` command that it runs via `subprocess` (see https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/utils.py#L68). I don't consider this a bug, but I think it would make a reasonable feature request, and may be rather simple to implement.

[2022-02-08 16:20] Shrews commented on #291
I am unable to reproduce this with the latest version. I tried a very simple `execution-environment.yml` file using the data you supplied:

[code]

The following information could help here:

- What is the version of `ansible-builder` you used (output of `ansible-builder --version`)?
- Can you provide the `execution-environment.yml` file that produced this, or a simplified version that produces th

[2022-02-08 16:27] Shrews commented on #267
Since there has been no response on this issue for some time, I'm going to assume this is no longer an issue and close it.

[2022-02-08 16:27] #267 closed, assigned to nobody

[2022-02-09 14:50] ryanmerolle opened #347 "Document Container Image logic"
It seems there is only 1 tag for the [ansible builder container image](https://quay.io/repository/ansible/ansible-builder?tag=latest&tab=tags), and its latest.

I was thinking latest would be `1.0.1`, but pip is saying it is using `1.0.0.0a3.dev99`.

- What is the logic behind the docker image creation?
- Can we improve that documentation?
- Does it make sense to introduce 2 different tags? 1 for

[2022-02-09 21:02] ryanmerolle commented on #347
To record what @Shrews said in chat on the ticket:

Not trying to @ someone for work, just documenting if someone comes across this ticket.

He is referring to ansible/ansible-runner#990

[2022-02-09 21:22] ryanmerolle opened #348 "pip failures"
This could be related to #323, but I did not want to just pile on without some more research.

execution-environment.yml
[code]

requirements.yml
[code]

ansible-builder output:
[code]

For now I am reverting to my runners/EEs not built by ansible-builder as a workaround.

[2022-02-10 22:20] ecchong opened #349 "ansible-builder CentOS 8 image dnf error"
I am trying to run ansible-builder to install a rpm in the execution environment via bindep, but getting the following error

`+ /usr/bin/dnf update -y`
`CentOS Linux 8 - AppStream                      197  B/s |  38  B     00:00    `
`Error: Failed to download metadata for repo 'appstream': Cannot prepare internal mirrorlist: No URLs in mirrorlist`

Is it because of CentOS 8 EOL and the ansible-b

[2022-02-10 22:31] ecchong commented on #349
OK.  There is a RHEL based ansible-builder image.  I just need to specify the following in the execution-environment.yml

EE_BUILDER_IMAGE='registry.redhat.io/ansible-automation-platform-21/ansible-builder-rhel8'

Will the default CentOS 8 image be fixed?  If not it should be removed to prevent confusion.

[2022-02-11 11:01] Fobhep opened #350 "Running behind Foreman/orcharhino/Satellite"
I am using ansible-builder on a server that is air-gapped ie it is behind a Foreman/orcharhino/Satellite installation and thus has custom repositories.

Currently my installation is failing, since I can't manage to import the custom GPG key into the container.
This is somewhat connected to #195 and #293

Is there any other workarounds for now except creating a custom base container with said GPG k

[2022-02-11 17:07] rafabono commented on #343
Hi, I have the same problem building my image. My execution-environment.yml looks like this:

[code]
What changes have you made to make it work for you?

Thanks.

[2022-02-11 19:18] tombosmansibm commented on #343
I pulled in a new image :
`podman pull quay.io/ansible/ansible-builder`

[2022-02-13 13:54] rafabono commented on #343
Ok, thanks!!
In my case I had to update the ansible-runner image as well.

[2022-02-15 07:23] hiyokotaisa opened #351 "ansible-builder failed to build EE for cisco.aci because of Double requirement given"
### Issue
ansible-builder returned the following error when trying to build EE for AAP 2.1 with cisco.aci collection

[code]

### Step to reproduce

1) Using following version of podman and ansible-builder
[code]

2) Prepare the following files(execution-environment.yml/requirements.yml) before the build:

[code]

3) build the EE with ansible-builder command
[code]

### Additional Info
- This issu

[2022-02-16 18:15] d5han commented on #349
I experienced the same issue. The workaround I used was cloning the ansible-builder and ansible-runner repos and building them locally. The containers consumed by builder/runner are updated, so rebuilding them results in working repositories.

[code]

Since this will tag the resulting images as `quay.io/ansible/ansible-builder:latest` and `quay.io/ansible/ansible-runner:latest`. I could then run `

[2022-02-17 12:35] milanzelenka commented on #350
Hi @Fobhep, please where did you specify custom (foreman/satellite) repository url for "/usr/bin/microdnf update -y" command in assemble?

[2022-02-17 12:39] Fobhep commented on #350
@milanzelenka I did not. My understanding is that ansible-builder uses by default those settings on EL servers:

[code]
And I think that within those images the repo list of the server is being mirrored into the actual container.
Maybe somebody can confirm or deny that?

[2022-02-17 12:55] milanzelenka commented on #350
Thanks. It's interesting. I my case it uses default public ubi.redhat.com repository, which time-outs because of no internet access... :-(

`error: cannot update repo 'ubi-8-baseos': Cannot download repomd.xml: Cannot download repodata/repomd.xml: All mirrors were tried; Last error: Curl error (28): Timeout was reached for https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/

[2022-02-17 12:58] Fobhep commented on #350
check out your `Containerfile` in the build directory - what is set for you?
something like this?
[code]

You can always try and prebuild your `BASE`/`BUILDER` image by hand in a way that it uses your airgapped repositories and ships corresponding certificates inside that base image

[2022-02-17 13:07] milanzelenka commented on #350
Yes, we are using local registry in private automation hub... It's look like that we need to rebuild ansible-builder-rhel8 image with custom repository lists...
[code]

[2022-02-24 19:38] stephenhoran opened #355 "Python packages installed to different Python version called via Ansible"
I am using a very simple EE file as below attempting to build an image with boto3:
[code]

It appears that the requirements are being installed to python 3.8:
[code]

However AWX will call /usr/libexec/platform-python by default, resulting in an error that the package is not installed.
[code]

I see no way to set the python interpreter for an EE via AWX. I am unsure why the version selected by AWX

[2022-02-25 15:31] Shrews commented on #349
The `ansible-builder` and `ansible-runner` images are both now based off of `CentOS Stream release 8` and not `Centos 8`, which is EOL. I suspect you need to remove your local image and just pull the newer images.

[2022-02-25 17:51] d5han commented on #349
Yep, now with the images updated I am able to run `ansible-builder` without the need for the locally built images.

Looks fixed to me.

[2022-03-02 21:40] matthewdaclark commented on #346
I also looked into this for awhile as I would like to store the execution environment code in source control without exposing secrets. So, from that aspect I find it perhaps not a bug but a security defect. At this point there is no way to save to source control a working copy without exposing a secret or doing some fancy githook

[2022-03-07 14:32] jangel97 opened #358 "Ansible module for ansible-builder"
Hi,

My team and me are using ansible-builder in our Ansible Playbooks to build Container Images for the Ansible Automation Platform Execution Environments. In order to achieve this, we are using ansible-builder via command module https://github.com/redhat-cop/ee_utilities/blob/main/roles/ee_builder/tasks/main.yml#L19.

Would it make sense to work on an Ansible module that wraps around the ansible

[2022-03-07 19:16] Rikbruggink commented on #350
The default way for a ubi image to react with a system connected to satellite/foreman is to use the system repos if applicable but only if the default ubi.repo is not there. For my set-up i am running this to have the final image to use ansible repo's

additional_build_steps:
  prepend:
    - RUN rm -f /etc/yum.repos.d/ubi.repo

this doenst work for build deps like galaxy. i prepend them there man

[2022-03-08 20:39] Shrews commented on #348
This looks to me like those collections have some conflicting requirements (one collection requires exactly `requests` version `2.22.0` and another wants `requests` greater than or higher than `2.25.1`). If you run `ansible-builder` with the `-v2` option (maybe `-v3`?) it should output the sanitized requirements with comments on which collection they come from. Nothing builder can really do about

[2022-03-08 22:14] Shrews commented on #358
Hi,

You are certainly welcome to develop such a module for your personal use, but it certainly isn't something we'd consider maintaining within this repo. I'm failing to see any advantage of a separate module for running this command., and I have no suggestions on where such a module should live, but that shouldn't stop you from developing your own if you find it useful.

Best of luck.

[2022-03-08 22:14] #358 closed, assigned to nobody

[2022-03-09 03:25] Shrews commented on #358
Just an additional thought, you might ask in the [Ansible Community channels](https://docs.ansible.com/ansible/latest/community/communication.html#real-time-chat) to see if there are any like-minded folks who may also like to have such a module. They can probably direct you to the proper collection (if one exists) for such a module, or assist you in creating one.  The #ansible-community IRC channe

[2022-03-09 15:57] Shrews commented on #351
Yes, upgrading pip is one way to go. The maintainers of this repo do not have control over the AAP container images, so we can't address that. However, we've proposed #359 which should help address the situation. We can backport this to `2.1`, `2.0`, and maybe `1.4.x`, but you are using a very old version of `ansible-builder` which will not see the fix, if we should merge this. So you will need to

[2022-03-09 17:10] Shrews commented on #351
Oops, ignore my comment about versions. I was confusing runner and builder versions. Sorry about that.

[2022-03-10 10:23] ryanmerolle commented on #348
All fair points, so I guess I should request the collections adjust their requirements if they can.

[2022-03-11 14:20] #348 closed, assigned to nobody

[2022-03-21 15:00] #351 closed, assigned to nobody

[2022-03-26 17:00] pabelanger commented on #355
/usr/libexec/platform-python isn't support, given that is python36. You should reference /usr/bin/python3 and things will load properly

[2022-03-26 17:03] pabelanger commented on #207
bumping this up again as we are migrating to python39, from python38. Today, there is no way to denylist collections requirements. In this case, underlying layers have migrated to python39. We can pass in our own bindep.txt file with python39 references, however collections will be hard coded to python38.

The only option today, is ask a collection owner to release a new version with the updated r

[2022-03-29 09:16] serhiinikitenko opened #361 "ansible-builder CentOS 8 image dnf update error"
**Failed to build custom AWX EE image**

[code]

[2022-03-29 10:34] billmetangmo commented on #361
+1 . I got the same issue. I am not able anymore to build image using ansible-builder and noticed other have https://bugs.launchpad.net/puppet-openstack-integration/+bug/1966848

As hotfix while waiting, I patched the _quay.io/ansible/ansible-builder:latest_ image by replacing **dnf update -y** by **dnf update -y --nobest**  inside a running container. Then create a local _ansible-builder image_ b

[2022-03-29 13:05] Shrews commented on #361
This looks to have been a transient issue with the Centos 8 Stream (now fixed, it seems) base image and not `ansible-builder` itself. Since it's both resolved, and not related to builder, closing this issue.

[2022-03-29 13:05] #361 closed, assigned to nobody

[2022-03-31 15:40] anshulbehl opened #362 "RFE Providing sample configuration files with builder"
ansible-builder requires a few different configuration files to do useful things, but the install doesn’t provide anything to start with.  Might it be possible to provide some sample files with some commented-out options for customers to start with?

[2022-04-01 18:21] Shrews commented on #349
Closing per above.

[2022-04-01 18:21] #349 closed, assigned to nobody

[2022-04-01 18:27] Shrews commented on #355
I'm not very familiar with AWX. You are able to set the interpreter in the `ansible.cfg` file, which can be specified in the EE definition file. Not sure if that would fix your issue or not. Pinging @shanemcd for the AWX side of this, but seems like this may be an AWX question vs. an `ansible-builder` one.

[2022-04-05 13:07] Shrews commented on #362
Not an unreasonable request. A fairly simple `demo` directory, like we have in the [runner repo](https://github.com/ansible/ansible-runner/tree/devel/demo), would suffice.

[2022-04-06 11:13] Akasurde opened #363 "clean up intermediate image layers"
There are some residual image layers left after ansible-builder is successful. Could you please provide an option to remove these image layers (You can see there are several images with tag <none>)?

[code]

[2022-04-06 15:44] Shrews commented on #363
`ansible-builder` has no knowledge of the intermediate build layers. How do you propose we accomplish this? We could probably allow you pass additional options to `podman build` or `docker build`, if there are any options there that would assist with that cleanup, but not sure what we could really do about this.

[2022-04-07 09:01] Akasurde commented on #363
@Shrews I tried `--squash-all` and `--squash` flags in `podman build` but it does not help.

I also tried which seems to remove the dangling images -

[code]

[2022-04-07 17:49] john-westcott-iv opened #364 "Invalid requirements.txt leads to container built incorrectly"
If you reference a requirements.txt for python modules but it has invalid syntax `ansible-builder build` will make the image but the python modules will not be installed. Even when running `-v 3` you wont see any errors with the build process. After some time of digging I found the introspect command in the `Containerfile` and running this like `ansible-builder introspect --sanitize --user-pip=req

[2022-04-09 00:57] ryanmerolle opened #365 "Better collection & python dependency management"
This is Sort of related to Ansible-galaxy listing outdated collections and roles

- ansible/ansible#75632

I've noticed when I pin packages roles and collection versions, I enter into dependency hell.  It would be ideal if either:

- ansible-builder (because it's aware of a requirements.txt and a requirements.yml) recognized this before a build
- ansible-galaxy had a way to to sort this out sort o

[2022-04-11 14:52] lucab85 commented on #293
+1

[2022-04-11 20:51] Shrews commented on #363
So we could add a CLI flag to indicate to run `prune` after the build (seems both `podman` and `docker` support this). That would be easy enough. I don't think we'd want to default to that since we cannot limit it to only the dangling images caused by our `build` command. The user would need to understand the effects on their local registry and opt in to it.

[2022-04-12 05:06] Akasurde commented on #363
@Shrews I totally agree on adding on a CLI flag. Thanks.

[2022-04-12 09:30] jtudelag opened #367 "Version container images in quay.io!"
Hey,

It would be great to have images versioned in quay.io! Currently is only "latest" tag: https://quay.io/repository/ansible/ansible-builder?tab=tags

Thanks a lot!

[2022-04-12 14:01] MallocArray commented on #355
I'm not sure why Python 3.6 is even in the ansible-runner containers if it is out of support at this point, but I've been running into the same thing as @stephenhoran

In your playbooks where you are seeing this issue, do you happen to have `connection: local` at the top of the play? That is my use case when using most of the VMware modules and others that I'm not needing Ansible to directly conne

[2022-04-15 14:58] felixfontein commented on #90
Hmm, I think I also encountered that: https://github.com/ansible-collections/community.sops/runs/6039420137?check_suite_focus=true

I had URLs in my bindep.txt file, which made bindep barf, but the build process just continued and ended with `Complete!`. (Obviously the dependency wasn't in the EE image and thus the tests expecting it to be there failed...)

[2022-04-15 15:31] felixfontein opened #369 "Allow collections to install RPMs from other sources (like URLs)"
I'm trying to add EE support to community.sops (https://github.com/ansible-collections/community.sops/pull/98). For that I want to install Mozilla's sops (https://github.com/mozilla/sops/) in the EE image. Sops RPMs are available from GitHub (https://github.com/mozilla/sops/releases).

If it is already possible to install an RPM from a file I didn't manage to figure out how (my first attempt of sp

[2022-04-19 13:09] eqrx commented on #369
Hey, thanks for opening the issue! I would suggest adding a custom build step as described in https://ansible-builder.readthedocs.io/en/stable/definition.html#additional-custom-build-steps here. This gives you the flexibility to add whatever however you like.

If you would like to specifically add RPM via bindep I would suggest opening an issue with them since that they do not allow installing arb

[2022-04-19 13:09] #369 closed, assigned to nobody

[2022-04-19 13:11] eqrx commented on #367
Hey, that is a good issue, we will definitely take care of that but I can't tell you when it is going to come to that :(

[2022-04-19 13:15] eqrx commented on #364
We will look into it!

[2022-04-19 13:26] eqrx commented on #365
Hey :) Problem is that builder by design only calls the different package management tools. I agree that this would be nice but we the complexity would be quite high and the scope of builder would blow up. Feel free to suggest PRs on this but we currently do not see how to implement this in a maintainable manner! Thanks!

[2022-04-19 13:26] #365 closed, assigned to nobody

[2022-04-19 14:04] felixfontein commented on #369
@eqrx I tested that, but that did not work. ansible-builder only uses `dependencies` from `meta/execution-environment.yml` in a collection (https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/introspect.py#L144-L149). `additional_build_steps` is only available in the user's definition of the EE. Forcing everyone who wants to include community.sops into an EE to manually add `addi

[2022-04-19 18:22] ryanmerolle commented on #348
Quick clarification here.  `-v2` and `-v3` do not show which collections result the requirements conflict, but only the conflict requirements themselves ie `requests==2.22.0,>=2.22.0,>=2.25.0`

It would be useful to see what collections resulted each, but I wanted to clarify for anyone else who stumbles on this issue.

[2022-04-19 18:35] Shrews commented on #348
This information is already present (at least with the latest from the `devel` branch) during the `ansible-builder introspect` phase:

[code]

Perhaps you are using an older version. A newer release is expected "real soon now".

[2022-04-19 20:24] ryanmerolle commented on #348
Ah likely because I am using 1.0.1.

Thanks @Shrews

[2022-04-20 14:34] Shrews commented on #369
Hi @felixfontein. I think I understand your use-case from a collection perspective.

The ideal solution here would be to have `bindep` understand how to do this. `ansible-builder` is just the glue to call different installers (pip, ansible-galaxy, bindep) to handle package installation. I'm not certain making builder understand how to do package installation (either rpms, debs, etc) is the best pa

[2022-04-20 15:04] ryanmerolle commented on #350
I have this same issue.

I added my internal yum repos into both my base ansible-builder and ansible-runner images.  Only those yum repos show up in `/etc/yum.repos.d/` and in `yum repolist`

When `assemble` runs I get a few pertinent log messages related to the build being air gaped

[code]

When I run `assemble` with the same base images on a non-air gaped system, the build completes, but I then

[2022-04-21 11:42] felixfontein commented on #369
I created https://storyboard.openstack.org/#!/story/2010005 for this.

[2022-04-22 12:25] ssbarnea opened #373 "quay.io/ansible/ansible-builder:latest has no aarch64 platform"
Apparently the runner image from `quay.io/ansible/ansible-builder:latest` is not dual-arch x64/aarch64 and that is a serious issue as we would expect more and more users to user aarch64 (Apple Silicon being a major driver).

Directly impacts @ansible/devtools creator-ee project.

Related: https://github.com/ansible/ansible-runner/issues/1046
Blocks: https://github.com/ansible/creator-ee/issues/7

[2022-04-22 20:28] cboylan commented on #369
Note that Bindep is not an installer. All Bindep does is check the current list of packages and tell you what you need to install to match the listed set. How you install the set and where you get those packages from is not part of what Bindep manages. To be clear I don't think this is something that Bindep would do as it doesn't install anything.

[2022-04-22 20:54] felixfontein commented on #369
@cboylan bindep does choke on URLs though:
[code]
So some minimal changes to bindep (namely: accept URLs for package names) are probably necessary.

[2022-04-22 20:58] cboylan commented on #369
No, what you would do is list sops in your bindep file. Then bindep would check with the package manager to see if a package called sops is present or not. If not it would return it as a missing package. Then the process of installing it and where to install it from is external to bindep. It isn't valid to encode that in bindep.

[2022-04-22 21:01] felixfontein commented on #369
That would require ansible-builder to have some functionality where it is possible to specify that the `sops` package can be installed by doing `xxx` on Linx distribution `Y`, with optional version `Z`, ... So basically ansible-builder would have to handle profile matching as well?

[2022-04-22 21:04] cboylan commented on #369
I'm not familiar with ansible-builder so I'm not sure. But the bindep tool isn't set up to manage package sources or installation methods. Its primary utility is to compare list of packages against what is in the system and give an answer back as to what is missing. Then the process of reconciling that delta is something the bindep user needs to sort out.

We primarily use it to express package de

[2022-04-22 21:14] felixfontein commented on #369
I unfortunately also don't know how exactly ansible-builder and bindep interact. @eqrx or @Shrews should have a better understanding of this, maybe they have an idea?

[2022-04-23 10:16] felixfontein commented on #369
I *think* that the main work is done by the scripts in https://github.com/ansible/python-builder-image/tree/main/scripts. These scripts seem to end up in the ansible-runner images (coming form the python-builder image built from that repository). Right now it looks like these files are tightly coupled to ansible-builder, and I guess any change in this repo that would help for this issue would need

[2022-04-26 11:34] #362 closed, assigned to nobody

[2022-04-26 12:43] Akasurde commented on #363
resolved_by_pr #375

[2022-04-26 17:35] #363 closed, assigned to nobody

[2022-05-05 11:51] ryanmerolle opened #376 "quay image out of date"
Looking at quay, it seems the ansible-builder has not been rebuilt in 3 months & when you download the image, in pip the installed `ansible-builder` version is `1.0.0.0a3.dev100` instead of `1.1.0`.

Can someone correct this build to reflect the new ansible-builder version?

Thanks!

[2022-05-05 11:52] ryanmerolle opened #377 "update pypi with ansible-builder 1.1.0"
Looking at pypi.org, it seems the ansible-builder has not been updated since July 2021 (1.0.1).  Can someone upload the latest 1.1.0 release?

Thanks!

[2022-05-05 12:04] ryanmerolle commented on #377
@nitzmahone does this need to be added to the release process to prevent this from happening again?  I only tag you since you released this version, and maybe you have some insight into something that failed or was forgotten.

[2022-05-05 12:19] Akasurde commented on #376
@ryanmerolle Thanks for reporting this. We are working on revamping the pypi and container release pipelines. We will keep you posted.

[2022-05-10 17:03] nitzmahone commented on #377
Note to self: don't do manual releases after midnight...

We're in the process of migrating the entire upstream release process for builder and runner to GHA from Zuul (including a complete reworking of the associated container builds and tags). There were still some undecided secrets management bits, so I ended up doing the runner and builder releases manually late at night right before leaving f

[2022-05-10 17:03] #377 closed, assigned to nobody

[2022-05-11 15:28] keachi opened #379 "ansible-builder doesn't work under Python 3.6 nor 3.7"
# Summary

I tried to use ansible-builder with a Python 3.6 environment (default Python version on RHEL 8) and couldn't start ansible-builder. It fails to start in a very early step.
The error message is this:
[code]

I tested the following Python versions:
* 3.6.8 -> failed
* 3.7.13 -> failed
* 3.10.4 -> works as expected

Python 3.6.8 worked with ansible-builder 1.0.1. Because it wasn't a major

[2022-05-12 01:50] adn1107 opened #380 "ansible-builder and local collection"
trying requirements.yml with this content
[code]
but ansible-buider build failed with:
[code]
but i do have '/Users/adn/workspaces/nazare/cp4z/ee/ee-for-ims/ims-command-operator/galaxy.yml'
[code]

is it possible to specify a local collection instead of a collection hosted on galaxy.ansible.com?

[2022-05-12 19:33] Shrews commented on #379
The current minimum version of Python supported by `ansible-builder` 1.1.0 is 3.8.

[2022-05-12 19:36] Shrews commented on #379
We should document this in our documentation, so I've left this open for someone to add that enhancement.

[2022-05-13 11:12] Akasurde commented on #212
PR #236 and #250 merged. Closing this issue. Please feel free to re-open if the problem persists. Thanks.

[2022-05-13 11:12] #212 closed, assigned to beeankha

[2022-05-13 21:26] ThomasADavis opened #382 "ansible builder updates to lastest ansible-core.."
Starting with this:

[code]
no longer locks it that version of ansible.

[code]
We are fighting with async issues with v2.12 and ovirt collection - It works fine with v2.11, and breaks with v2.12.  I'd like to be able to lock it to a version of ansible so we don't break all of our automations.

How do we lock it to ansible-v2.11?

[2022-05-13 22:48] ThomasADavis commented on #382
Ok, figured it out.

Adding

[code]
to the requirements file blocks it from going to v2.12...

[2022-05-13 22:48] #382 closed, assigned to nobody

[2022-05-14 03:26] #379 closed, assigned to nobody

[2022-05-16 13:14] eterny13 opened #383 "UnicodeDecodeError"
I have encountered UnicodeDecodeError.

This error has occured on `RUN assemble`.

[code]

[2022-05-17 12:15] eterny13 commented on #383
This error is caused by `env LANG`.

[2022-05-17 12:15] #383 closed, assigned to nobody

[2022-05-17 13:12] ryanmerolle commented on #376
@Akasurde I see ansible-builder on pypi.  Thanks!  I think I will just build my own image for now.  I am also happy to PR an updated Dockerfile.

[2022-05-17 13:31] eqrx commented on #380
The problem here is that builder is executed within a container at this point and that the collections path is not mounted into it. One option would be to add the collection path via a additional builder step. Would that be a solution for you?

[2022-05-19 11:28] matburt commented on #291
No feedback from reporter... I also can't reproduce this.

[2022-05-19 11:28] #291 closed, assigned to nobody

[2022-05-25 07:29] SROBER28 commented on #293
+1

[2022-05-31 14:18] daneov commented on #367
@eqrx Is there something I can do to help with this? We can pin it by sha in the meantime, but since it has been 4 months the image has been updated I think there'll be some fixes/features missing in there :)

[2022-06-01 14:22] eqrx commented on #367
hey @daneov, Thank you for asking and the support! One of us is currently reworking the image publishing of builder and actual versioning should be included in it. So I would say: Stay tuned, actual tags should come soonish:)

[2022-06-02 15:33] tepene commented on #380
I'd be interested for a solution on this topic as well. Is there a way to copy a collection during the build step?

[2022-06-07 14:14] mnecas opened #391 "ansible-builder throws: ValueError: unknown action "extend""
Hi,
when doing anything with ansible-builder 1.1.0 it throws:
[code]
Version ansible_builder-1.1.0

[2022-06-07 14:21] mnecas commented on #391
The issue is with python36 which does not support this action, we need to switch to python38.
https://docs.python.org/3/library/argparse.html#action

[2022-06-07 14:22] mnecas commented on #391
Closing

[2022-06-07 14:22] #391 closed, assigned to nobody

[2022-06-08 11:45] monorailpilot opened #392 "Command Line Options needed for role installation"
Currently, ansible builder can pass arguments to ansible-galaxy's collection installation process using the following in execution-environment.yml.

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: "-v"

There is no similar ANSIBLE_GALAXY_CLI_ROLE_OPTS however, which makes it impossible to do things such as disable SSL checking or get verbose output.

[2022-06-08 13:26] alisonlhart opened #393 "Introspect and Build conflict in handling execution-enviornment.yml requirements path"
Standard format for collections is that the requirements.txt file is kept in the root of the collection and the execution-environment.yml file is in the meta/ directory. If you build within the collection root, `ansible-builder build` will fail if relative pathing for the requirements.txt and bindep.txt files are not used:

`meta/execution-environment.yml` file
[code]
`ansible-builder build` failu

[2022-06-14 13:06] eqrx commented on #393
Hey, thank you for submitting the issue!

Problem is that you are using the ee file of a collection (in its `/meta` subdir) as the main ee file for builder. Builder expect the meta ee file to only contain requirements. You need to have a dedicated file in your case.

See here: https://ansible-builder.readthedocs.io/en/stable/collection_metadata/

Hope that helps!

[2022-06-14 13:06] #393 closed, assigned to nobody

[2022-06-14 13:09] eqrx commented on #392
Hey, thank you for the issue! We do not have `ANSIBLE_GALAXY_CLI_ROLE_OPTS` since builder does not install roles, only collections. What exact use case do you have? :)

[2022-06-14 18:08] monorailpilot commented on #392
So Ansible Builder is creating a container file that contains these two lines, so I believe the statement about not installing roles is incorrect.  It looks like steps.py line 75 implements this.

`RUN ansible-galaxy role install -r requirements.yml --roles-path /usr/share/ansible/roles`
`RUN ansible-galaxy collection install $ANSIBLE_GALAXY_CLI_COLLECTION_OPTS -r requirements.yml --collections-pa

[2022-06-14 22:15] no-12 commented on #380
We use the image that ansible-builder creates as a base image that includes all dependencies we need in production.
We use this image as a base for two other images.

One "dev" image that includes ansible-lint, black, and other development tools.
We build, test and validate our local role inside the "dev" Container. You can even use this image inside vscode to write your collection code in a envir

[2022-06-15 13:55] #392 closed, assigned to Akasurde

[2022-06-16 09:25] #286 closed, assigned to nobody

[2022-06-17 12:05] Akasurde commented on #187
resolved_by_pr #232

[2022-06-17 12:05] #187 closed, assigned to AlanCoding

[2022-06-24 21:26] ecchong opened #398 "Different versions of Python modules in requirements."
When a collection requires a specific version of Python module that is already specified in user requirements.txt with a different version, it generate a requirements.txt that is not valid.

For example, collection "paloaltonetworks.panos" requires `pan-os-python==1.5.1`.  If `pan-os-python==1.7.3` is also specified in user's requirements.txt, the `ansible-builder introspect` command generate a re

[2022-06-25 00:32] kurokobo commented on #398
Hmm, in my opinion I think this should not be implemented.

The version specifier `==` means that an exact matching version should be installed.
If user specified `pan-os-python==1.7.3`, this means that the installed version of `pan-os-python` _MUST_ `1.7.3` and it can't be satisfied other than `1.7.3`, like `1.5.1`. Similarly, the requirement from `paloaltonetworks.panos` cannot be satisfied othe

[2022-06-25 06:18] kurokobo commented on #398
Uh-oh, sorry, I may have misread your comment. Please ignore my comment 😭

There is no grammatical error in writing `pan-os-python==1.5.1,==1.7.3`, so it looks like we need to implement simple pattern matching for duplicated `==` (seems a bit hard way since this is also re-implementation of some sort of parser), or actually querying the package to catch the error.

[2022-06-28 11:25] Shrews commented on #398
I've heard such requests before, to have builder start down the path of requirements conflict resolution. I don't think this is something we plan to do because pip already informs you if there is a conflict, and is MUCH more capable of determining such things. We cannot simply "pick" one version of a requirement over another for a conflict because we would almost certainly always choose a version

[2022-06-28 11:34] Akasurde commented on #398
I agree with @Shrews here.

[2022-06-28 18:11] jompins opened #399 "Ansible builder failing on sanitize when trying to use several collections"
Hi all,
I just recently noticed that Ansible-Builder seems to have issues with some modules we're using. They were all running fine when we last used those modules in previous versions but somehow they were updated and now the Ansible-Builder complains about missing requirements.txt. This applies to all the dellemc modules on Galaxy, but I'm not sure if others are also affected. The AWX one instal

[2022-07-04 06:31] Akasurde commented on #399
@jompins Thanks for reporting this issue. Could you please provide `ee.yml` and `requirements.yml` files to reproduce this issue? Thanks.

[2022-07-04 08:17] Akasurde commented on #399
@jompins After debugging a bit, I found that `dellemc.powerscale` collection added `meta/execution-environment.yml` file with [1.6.0 release](https://github.com/dell/ansible-powerscale/commit/72b1b848cc59caa04c2cde3392d50ab087aec7ba). But Python dependency `dependencies` mentioned in [execution-environment.yml](https://github.com/dell/ansible-powerscale/blob/0ee86eaac41f26ddd057ac2c688e4f85dc78432

[2022-07-04 09:57] Akasurde commented on #399
The path can be relative to the execution-environment.yml directory. https://docs.ansible.com/automation-controller/latest/html/userguide/ee_reference.html#ansible-galaxy-dependencies

[2022-07-07 16:29] coreydeli opened #401 "Ansible-Builder not functioning with Six"
I have used every builder I can find at this point, however, it seems that we cannot build the image as the venv cannot work with Six

[code]

performing a `pip list` generates the listing showing Six is installed

[code]

I am unsure at this point where to go, I clearly see Six so I am not sure why its not functional, it hasnt changed since May 5.

[2022-07-08 08:19] jompins commented on #399
Hi @Akasurde  thanks for debugging this! I feared it was a collection issue all along. I will close our issue here and forward this to the DellEMC developers!

[2022-07-08 08:19] #399 closed, assigned to nobody

[2022-07-08 08:27] Akasurde commented on #401
@Iwifia Thanks for reporting this issue. Could you please provide the `execution-environment.yml`, `requirements.yml`, and `requirements.txt` used? This will allow us to reproduce the issue.

[2022-07-08 09:40] GotFlojo opened #402 "ansible-builder inspect outputting "wrong" python version"
I'm using quay.io/ansible/ansible-builder:latest
which seems to have python3 set to python3.8

[code]
However `ansible-builder introspect` ignores the default python and uses python3.9 packages which leads to site packages not being able to be found because the venv again uses python3.8 and the image creation fails.

[code]

[2022-07-08 14:40] coreydeli commented on #401
Yes absolutely. Please note I have tried to run python3.9 sidebyside with python 3.10.4 and recieved the same error and dropped the builder down to prior versions to attempt to resolve to no avail. Currently using `ansible-builder==1.1.0`

`execution-enviroment.yml`
[code]

`requirements.yml`
[code]

`requirements.txt`
[code]

`bindep.txt`
[code]

`run.sh`
[code]

Command to make image `ansible-bu

[2022-07-11 08:10] Akasurde commented on #401
@Iwifia Thanks for reporting this issue. This is an issue is related to `textfsm` library used in `ansible.utils` collection which is already reported https://github.com/ansible-collections/ansible.utils/issues/193 and https://github.com/google/textfsm/issues/105. We will use the same tracker issues to track this issue.

tl;dr As a workaround you can pin `textfsm` version to `1.1.2`.

Thanks,

[2022-07-11 08:10] #401 closed, assigned to nobody

[2022-07-11 08:16] Akasurde commented on #401
@Iwifia I raised a PR for fixing `requirements.txt` in `ansible.utils` collection - https://github.com/ansible-collections/ansible.utils/pull/194. Once this PR is merged, this issue will go away.

[2022-07-11 14:12] coreydeli commented on #401
Thanks for the update!

[2022-07-12 13:08] eqrx commented on #402
Hey, we are taking a look into that. Could you provide an example EE file that clarifies how you build your environment? thanks @GotFlojo :)

[2022-07-12 20:48] simonbirtles commented on #355
I have the same issue specifically with pyvmomi, the error being `ModuleNotFoundError: No module named 'pyVim'` which I add to a custom EE build - spec below, the odd thing is that other modules I specify in requirements.txt for ansible-builder work fine, i.e. dnspython as the playbook shows below for the dig lookup.

This worked in a older version of awx-ee (about a year ago, but which I don't ha

[2022-07-13 15:53] MallocArray commented on #355
This is a known situation with the EE when using tasks that run on the Ansible host.  I'm guessing you probably have `connection: local` at the top of the playbook, but in the EE, that behaves differently than what you may experience when running it directly on a Linux host.

If issues are shown about modules not being available and the playbook is using `connection: local` at the top of the play,

[2022-07-13 15:54] MallocArray commented on #376
Any ETA on when the release pipeline work will be completed?

[2022-07-13 17:34] ryanmerolle commented on #376
I unofficially heard mention when I raised this, it was months out due to a whole refactor of the current workflow.  Last I also heard, there was no ETA.  You can just build the image yourself locally.

[2022-07-13 20:58] simonbirtles commented on #355
I do have `connection: local` at the play level as you correctly suggest. I did go through and change the vmware_guest (and other local tasks) to `delegate_to: localhost` as you suggested but the same issue remains. I also used awx-ee v0.5.0 `git clone -b 0.5.0  https://github.com/ansible/awx-ee.git` and rebuilt the container and same issue occurs.

What is odd (interesting), is that this only eff

[2022-07-13 21:09] pabelanger commented on #355
[code]
That is your issue, you need to be using /usr/bin/python3.8 for your connection.

As to why python3.6 is in the image, we cannot remove it. As that is the default platform-python on RHEL8  / centos8.

Realistically, we really should have stuck to python3.6 and compiled everything against that. However, that ship has sailed.

The good news is, for RHEL9 shouldn't have this issue. IIRC.

[2022-07-13 21:11] MallocArray commented on #355
In my requirements.txt I do specifically list pyVim, but looking at the requirements for the community.vmware collection doesn't list it specifically.  You could still add it to your requirements.txt for the EE just to test

Could you post your entire playbook or at least your modified task to make sure the delegate_to made it to the right place?  This is a pretty regular issue with things like th

[2022-07-13 21:36] simonbirtles commented on #355
Success. I added a ansible.cfg to the playbook root folder and added:
[code]
I had already changed all local tasks to `delegate_to: localhost` as suggested by @MallocArray, running the job was then successful.

As a test, I then changed all the `delegate_to: localhost` back to `connection: local` and ran another job which was also successful. I will move back to `delegate_to: localhost` anyway.  N

[2022-07-15 12:46] GotFlojo commented on #402
It works now (magically fixed itself) although I still don't know why.

**BUT** the things that ansible-builder inside of the builder-EE does do not make too much sense to me and I would like to have some clarification on that if possible:

It still installs python39-* packages on a python3.8 default installation.
The only reason this all works out in the end is because something (looks to me like

[2022-07-15 13:28] felixfontein commented on #380
All files in `context/_build/` will be available in the container during the build step. That's what I'm using for building EEs in collection CIs: I build the collection, copy the collection's `.tar.gz` file into that directory (after creating it), and then run `ansible-builder`: https://github.com/ansible-collections/community.dns/blob/main/.github/workflows/ee.yml#L96-L98

[2022-07-21 08:18] Jennifer-John opened #406 "ansible-builder introspect is failing"
Hi team,
Adding to the issue https://github.com/ansible/ansible-builder/issues/399
I am trying to build the execution environment for the dellemc ansible modules.
I have the execution-environment.yml file in the meta folder and the requirements.yml and requirements.txt in the root directory. So i have specified the relative path of the requirements.yml and requirements.txt in the execution-environ

[2022-07-26 14:07] Shrews commented on #406
What is the exact location of your `requirements.txt` file? The path of that file is expected to be relative to the collection directory, not the `meta` directory. For example:

  - If you use `python: requirements.txt` in your `dellemc/powerscale/meta/execution-environment.yml` file, then the location of the req file is expected to be `dellemc/powerscale/requirements.txt`.

  - If you use `python

[2022-07-26 14:32] Jennifer-John commented on #406
Hi @Shrews

Thank you for the response. The requirements.txt file is in dellemc/powerscale/requirements.txt and with the below content in meta/execution-environment..yml

---
version: 1
dependencies:
  galaxy: requirements.yml
  python: requirements.txt

execution of the command, _ansible-builder build --tag my-env --container-runtime docker_ fails with
ansible_builder.exceptions.DefinitionError:

[2022-07-26 14:34] Shrews commented on #406
Does `requirements.yml` exist in the same location as `requirements.txt`? That's a different error than the one from the issue description.

[2022-07-26 14:41] Jennifer-John commented on #406
Hi @Shrews ,

yes the requirements.yml is in the same location as requirements.txt. Sorry i have missed to upload this error message

[2022-07-26 14:49] Shrews commented on #406
Oh, sorry. I missed the obvious fault with that. `galaxy` requirements are not supported in a collection `meta/execution-environment.yml` file. That is supported only in the main builder EE file. Only python and system level dependencies are supported at the collection level, as mentioned in https://docs.ansible.com/automation-controller/latest/html/userguide/ee_reference.html#collection-level-met

[2022-07-26 16:29] Jennifer-John commented on #406
Hi @Shrews

How can I achieve building the execution environment using ansible-builder build --tag my-env --container-runtime docker?

[2022-07-26 17:03] Jennifer-John commented on #406
Hi @Shrews

Please find my observations below:

If the execution-environment.yml is in the root folder same as the requirements.yml and requirements.txt ansible-builder build command proceeds but the ansible_builder.exceptions.DefinitionError:  is displayed when the execution-environment.yml is in the meta folder,

How can i proceed with ansible-builder build --tag my-env --container-runtime docke

[2022-07-26 17:38] Shrews commented on #406
As I mentioned in my first response, you simply cannot use the `meta/execution-environment.yml` file as the main input to `ansible-builder`, which appears to be what you are trying to do. You need a seperate `execution-environment.yml` file for that. The two have different requirements, as I layed out in that response.

I suggest reaching out to the Ansible community (I believe they have some link

[2022-07-26 17:38] #406 closed, assigned to Shrews

[2022-07-29 08:46] jskacel commented on #293
@lucab85 `prepend` is actually not running before galaxy install command.. :-/

[code]

Ends with:
[code]

Only workaround I found is create own EE image to build from, but then I need to keep eye to keep it up to date as well:

`Dockerfile-ee:`
[code]

[code]

And changing `EE_BASE_IMAGE` to `EE_BASE_IMAGE: 'localhost/ee-withca'`.

[2022-08-05 13:07] akira6592 opened #407 "restrict min Python version when installing"
According to #379 and #381, ansible-builder 1.1.0 needs Python 3.8  or higher.

Not only documentation, I would like to restrict when installing.

Like this:  https://github.com/ansible/ansible/blob/v2.13.2/setup.cfg#L39

[2022-08-06 15:23] sabre1041 commented on #350
Experiencing same issue as well. There are no current methods for injection points to customize the behavior of the builder image in a similar fashion as the base

[2022-08-11 14:15] ekartsonakis commented on #293
Very useful feature if added. A quick workaround I did was to edit [ansible_builder/steps.py](https://github.com/ansible/ansible-builder/blob/devel/ansible_builder/steps.py) and prepend my commands before ansible-galaxy install commands on line 75 into the  `self.steps` list like this:
[code]

[2022-08-16 14:39] shanemcd commented on #373
JFYI we just merged a PR for receptor that shows how to do architecture emulation with qemu and docker buildx: https://github.com/ansible/receptor/pull/652

[2022-08-17 01:08] sugitk opened #408 "ERROR: Double requirement given: pyvmomi"
### issue

ansible-builder fails with this error.

[code]

references: #45, #351

### environment

[code]

### step to reproduce

I created definitions files as below.

1. execution-environment.yml

[code]

2. requirements.txt

[code]

3. requirements.yml

[code]

After that, I downloaded the images in advance.

[code]

I performed the ansible-builder command.

[code]

I will attach the whole outp

[2022-08-17 01:09] sugitk commented on #408
Whole output of the ansible-builder command.

[issue.txt](https://github.com/ansible/ansible-builder/files/9355545/issue.txt)

[2022-08-17 07:35] Akasurde commented on #408
@sugitk Thanks for reporting this issue.

[2022-08-19 14:50] avalou opened #409 "Building error: "ansible-galaxy: not found""
### Description of the issue
During the building process, ansible-builder stops with the following error message:
[code]

### Steps to reproduce
**execution-environment.yml**
[code]

**requirements.txt**
[code]

**requirements.yml**
[code]

**bindep.txt**
[code]

1. `ansible-builder build --container-runtime=docker`

### My system
I run ansible-builder version 1.1.0 on ubuntu server 22.04, with an

[2022-08-22 13:55] #409 closed, assigned to nobody

[2022-08-23 20:57] ansiblejunky opened #410 "Cannot inject environment variables to set token values that ansible-galaxy should recognize"
[Documentation](https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#configuring-the-ansible-galaxy-client)  for `ansible-galaxy` states:

[code]

There should be a supported way to inject those env vars into the build phase so that I do not need to create a static `ansible.cfg` file containing the token values. Currently the only way to pass the token values for each galaxy server is by

[2022-08-24 13:08] maniac18 commented on #319
@eqrx: Any update? I made a workaround by changing the generated Containerfile. Also the ansible-builder should implement this: https://github.com/ansible/ansible-builder/issues/211. I used it for the workaround but the PIP_OPTS parameter should also be added to the install-from-bindep script in the python-builder

[2022-08-25 15:52] lucab85 opened #412 "ValueError: unknown action "extend""
I receive the `ValueError: unknown action "extend"` every time I try to run `ansible-builder`
I installed the package from PIP ansible-builder (1.1.0)

[code]
- O/S: Red Hat Enterprise Linux release 8.5 (Ootpa)
- requirements.txt
[code]

[2022-08-25 16:41] Shrews commented on #412
`ansible-builder` version 1.1.0 requires Python version 3.8 or higher (you are using python 3.6.8). See https://ansible-builder.readthedocs.io/en/latest/installation/#requirements.  That error is coming from the Python argparse library which introduced the `extend` action in Python 3.8.

[2022-08-25 16:41] #412 closed, assigned to nobody

[2022-08-26 08:03] Mrmel94 opened #413 "variable ansible_config not working"
Hi, I'm using ansible-builder 1.1.0 with this file :

[code]

The file ansible.cfg is at the same level of directory, and when I start the build I can see in the logs that my ansible.cfg is found and copied :

`Step 6/26 : ADD _build/ansible.cfg ~/.ansible.cfg`

But once the build over and when I'm trying to use my custom EE, My awx can't see the file.

For the moment my workaround is to run this

[2022-08-31 14:33] eirisdg commented on #393
Setting theforeman.foreman version to 3.4.0 will work until the bug fixs

[2022-09-01 18:57] nitzmahone opened #414 "Pathing issues with `meta/execution-environment.yml`"
Clearly we have a design problem with reusing the EE def for dependency exchange that needs to get sorted with the next batch of builder changes. Ideally we can come up with a way to make the metadata EE def buildable, but if not, document it as such or replace it with a bespoke metadata exchange file. Relative file path assumptions are definitely problematic, and will only get more so as we provi

[2022-09-06 15:39] Shrews commented on #414
I'd be curious as to what folks actually expect of an EE def file contained _within_ a collection when it is used to build an EE. Is it expected to pull in the collection in which it is contained in a new step? Currently, this file is read only _after_ a collection has been installed (for dependency requirements only).

[2022-09-26 23:09] ansiblejunky commented on #364
I just hit a similar problem, where the `ansible-builder introspect` command that ansible-builder runs shows an error in the resulting file but this never produced a non-zero result in the overall build process so I never thought there was an issue... cuz the build succeeded. But there definitely was an issue! So I've since added this to my build to manually call that `ansible-builder introspect`

[2022-09-27 01:54] nitzmahone opened #416 "Add `pip check` after final install"
The `pip` depsolver currently only issues warnings when an incompatible version of a package is installed (eg, when a later install with a conflicting dep breaks a previous one)- someone looking carefully at their container build output might see the warning text that an incompatible dep was installed, but there's no way to make that an error today.

Adding a `pip check` at the end of the build (a

[2022-09-30 12:37] trippinnik opened #417 "Run ASSEMBLE Step adds back in default repos"
I am use a base image with the repos for our internal artifactory because I cannot use internet repos.  When this runs it still uses default internet repos no matter what I do.  I can't build because of this ...

[2/3] STEP 6/6: RUN assemble
++ source /etc/os-release
+++ NAME='CentOS Stream'
+++ VERSION=8
+++ ID=centos
+++ ID_LIKE='rhel fedora'
+++ VERSION_ID=8
+++ PLATFORM_ID=platform:el8
+++ PRE

[2022-10-04 13:11] eqrx commented on #417
Sorry, we do not have a good solution for disconnected environments right now, but we will look into it!

[2022-10-04 13:42] Akasurde opened #418 "Option to use additional PKGMGR_OPTS through ansible-builder"
Feature request - Option to use PKGMGR_OPTS with Ansible Builder to disable repository using microdnf.
While creating a custom image there is no option to pass microdnf parameters.

[2022-10-06 17:42] kammerdiener opened #419 "Issue building an Execution Environment"
Currently, we are using `ansible-builder` to add in some python dependencies as well as some galaxy dependencies that are necessary. We resolved some of our python dependency issues, but we are now running into this error:
[code]

We are using the latest for the base and builder images:
[code]

We are trying to add the following Python Dependencies:
[code]

As well as the following Ansible Galaxy

[2022-10-10 07:24] kuznetsovkk commented on #407
[code]
What am I doing wrong?

[2022-10-10 08:30] Akasurde commented on #407
@kuznetsovkk https://github.com/ansible/ansible-builder/issues/412#issuecomment-1227513512

[2022-10-10 08:50] kuznetsovkk commented on #407
I already use python 3.8 as you can see. Or not?

[2022-10-10 09:35] kuznetsovkk commented on #407
ok, I fixed this problem with:

[code]

But now i have another problem:

[code]

[2022-10-10 09:38] kuznetsovkk commented on #407
Ok, fixed with:
`/usr/bin/pip3.8 install ansible-builder`

[2022-10-11 08:39] trippinnik commented on #417
That must be pretty common. I managed to get it working with some guesswork
but a Dockerfile with requirements would be easier to work with

On Tue, Oct 4, 2022, 9:12 AM Alexander Sowitzki ***@***.***>
wrote:

[2022-10-14 12:04] cidrblock opened #424 "RFE Add a label to indicate the image is an execution environment"
ansible-navigator needs to distiguish between execution enviroments and other images. It currently uses the WORKDIR to make this determination which is probably not reliable and could lead to false positives.

https://github.com/ansible/ansible-navigator/issues/454

[2022-10-14 12:11] Akasurde commented on #424
@cidrblock Thanks for the RFE. Can you please check if this works for you - https://github.com/ansible/ansible-builder/blob/b3a13aae2310bf7d8e9f0d31e4d37259c4dd7f39/ansible_builder/main.py#L324?

[2022-10-14 12:44] cidrblock commented on #424
oh, that's new :)  I'm sure it will work...... ty, will report back

[2022-10-14 12:45] cidrblock commented on #286
TY, I totally missed this

[2022-10-14 12:47] cidrblock commented on #424
I totally missed this https://github.com/ansible/ansible-builder/issues/286  sorry

[2022-10-14 12:51] Akasurde commented on #424
ah! no issues.

[2022-10-14 13:42] cidrblock commented on #424
it's wonderful. TY

[2022-10-14 13:42] #424 closed, assigned to nobody

[2022-10-20 08:48] grimlokason opened #425 "ansible-builder is slow/sometime fail due to pip depsolver"
Hello,

Is it possible to add the possibility to use a constraint file to avoid the check of outdated python package ?

In my case :
- lot of time lost due to PyJWT boto3 and botocore backtracking dependencies
- faillure because it want to install openshift==0.13.0 while there is a 0.13.1 available ( CF : https://github.com/openshift/openshift-restclient-python/issues/425 )

Best regards !

[2022-10-21 15:12] wiad commented on #425
I am also hitting the error caused by ansible-builder downloading openshift==0.13.0

[2022-10-29 01:56] kbreit opened #426 "Build function should be able to inject files"
I want to create execution environments but provide internal root CA certificates as part of the EE. As far as I can tell, the only way to do this is to add the correct shell commands for adding the file to the container and updating the CA certificate list in the `prepend` section of the `execution-environment.yml` file, then run `ansible-builder create`, copy the certificate into that directory,

[2022-11-01 12:41] Akasurde commented on #419
@kammerdiener Thanks for reporting this issue. Could you please provide the whole traceback so that we can analyze it (the current stack trace is not enough)?

[2022-11-01 12:49] Akasurde commented on #425
@grimlokason @wiad You can use `requirements.txt` to specify the constraints.

[2022-11-01 12:53] Akasurde commented on #426
@kbreit Thanks for reporting this feature. This is already in pipeline. You can track it here - https://github.com/users/nitzmahone/projects/1

[2022-11-01 19:49] wiad commented on #425
@Akasurde when i try this (`openshift!=0.13.0`) I get rid of the error but the ansible-builder command takes forever to complete because of pip backtracking dependencies (not just of the openshift package but for almost every package). After almost 5 hours I gave up and aborted the build.

[2022-11-02 09:42] grimlokason commented on #425
Hello, @Akasurde

Every package within the requirements.txt is going to be installed, thats not what the constraints option of pip is doing.

[2022-11-04 19:14] ryanmerolle commented on #376
For anyone that needs it, I updated the runner and builder images to stream9 and got everything working.

An example of how to use them can be found [here](https://github.com/ryanmerolle/awx-network-ee)

[2022-11-08 20:49] IPvSean commented on #391
just to add to this to anyone who finds this github issue by google search

[code]

and then builder worked great

[2022-11-10 19:18] dzeediscoveryzone opened #429 "Certain python libraries not being installed"
Hi All,

I've run into an odd issue when building new execution environments. We have a set of AAP templates that require the purestorage library and even though I have it in my requirements file **and** I see it populated correctly in the build context it does not actually get installed into the container image (which completes successfully).

Below is a snipper of the requirements file:
[code]

[2022-11-15 14:07] Shrews commented on #429
Hi. Could help us reproduce this issue by providing the following:

- The version of `ansible-builder` that you are using.
- Complete output from your run of `ansible-builder` using the `-v 3` option for more verbose output.
- A simplified project (execution-environment.yml, requirements.txt, etc) that we may use that reproduces the issue.

Thanks.

[2022-11-15 18:27] dzeediscoveryzone commented on #429
`1.2.0`

[code]

It's not too long so below is the entire requirements.txt file:
[code]

`execution-environment.yml`
[code]

In the `bindep.txt` I had to add the following: `krb5-devel [platform:rpm]`

Hi @Shrews , above is the requested information - I hope this helps!

[2022-11-15 19:14] Shrews commented on #429
Thanks. Unfortunately, because you're in a cached environment, your output isn't helpful. But fortunately, your example is!

When you use the verbose output I suggested (`-v3`) in a non-cached environment, you'll see a message similar to this buried within it:

[code]

The parse error is from `pip` and it has a problem with your requirements.txt file, and stops processing it at that point (it's on

[2022-11-15 19:18] Shrews commented on #429
Closing per above.

[2022-11-15 19:18] #429 closed, assigned to nobody

[2022-11-25 13:39] jtisserand opened #431 "Ansible-builder not compatible with Ansible 7 (ansible core 2.14)"
Ansible 7.0.0 has stopped support for Python <3.9, so the builder is unable to compile anymore the images:
[code]

[2022-11-29 14:12] Akasurde commented on #431
@jtisserand Thanks for reporting this issue. Builder is compatible with Ansible 7, it is just that we are using older images of Python Base Image and Python Builder Image. Meanwhile, you can use the images available here - https://github.com/ryanmerolle/awx-network-ee.

[2022-11-30 09:30] Sispheor opened #432 "Python dep: No matching distribution found for ..."
Hi 👋

I have a Python package available on [Pypi](https://pypi.org/project/monkeyble/) in version `1.1.1`.
I can install it from pip3 or pipx on my workstation.
The lib is declared in the `requirements.txt` like this
[code]

I can even find it from poetry in this version
[code]

But once reaching the its installation from ansible-builder I have the following error:
[code]

I removed the `context`

[2022-11-30 09:35] Sispheor commented on #432
Ok I think I found the issue. The image is based on an older Python version.
Need to find a way to move to Python 3.10...

[2022-11-30 09:35] #432 closed, assigned to nobody

[2022-11-30 09:57] Sispheor commented on #159
Hi, I would like to change the python version.
I've set this in my config:
[code]

And I have this error:
[code]

[2022-11-30 10:07] Akasurde commented on #159
@Sispheor Thanks for the request. We are currently working on this feature, you can track this under https://github.com/users/nitzmahone/projects/1 - "Dynamic base/builder images"

[2022-11-30 10:13] Sispheor commented on #159
OK it has been renamed to `EE_BUILDER_IMAGE`.

Changing the python version should be documented guys ! 🙂
Here I need to dig into the python builder/ansible builder and understand all the thing to make a new image.